@model IEnumerable<CateringPro.Models.Dish>

@using  CateringPro.Core
@inject CateringPro.Core.SharedViewLocalizer Localizer

@{
    var ModelName = Localizer["Dishes"];

    ViewData["Title"] = "Dishes";
}


@if (Layout == "_LayoutCabachok")
{
    <div class="container-xl container container-md container-sm container-lg">
        <div class="row align-items-center pb-3  ml-xl-0 ml-md-0 ml-sm-0 p-0 ml-0" style="margin-top: 48px">
            <div class="col-7 col-xl-9 col-md-6 col-sm-6 align-content-center mr-md-auto pl-0">
                <p class="h2" style="font-weight: 600">
                    @ModelName
                </p>
            </div>
        </div>
        <div class="row pb-3 ml-xl-0 ml-md-0 ml-sm-0 p-lg-0 p-md-0 align-items-center m-0 flex-md-column flex-lg-row flex-column container p-0">
            <div class="col-lg-4 col-12 p-0 ">
                <div class="col-12 p-0 justify-content-lg-start justify-content-center"
                     style="display: flex; flex-wrap: nowrap">
                    <p class="h6 align-self-center mb-0" style="padding-bottom: 2px">Сортирувати:</p>

                    <select name="sources" id="sources" class="custom-select sources" placeholder="по ціні"
                            style="border: none">
                        <option class="drpdwn-btn selection" value="price"
                                style="border: none; box-shadow: 0 4px 22px rgba(0, 0, 0, 0.15);">
                            по ціні
                        </option>
                        <option class="drpdwn-btn" value="popular">по популярності</option>
                    </select>

                </div>
            </div>
            <div class="col-lg-4 col-12 p-0 ">
                <div class="col-12 p-0 justify-content-center w-100" style="display: flex">
                    <form id="search-form" class="form-inline col-12 p-0" style=" display: flex;">
                        <input id="search-val" class="form-control  w-100" type="search" placeholder="Пошук..." aria-label="Search"
                               style="font-size: 16px; color:#797979; height: 48px; background: url('~/img/search-icon.svg') no-repeat; background-position: 95%">
                    </form>
                </div>
            </div>
            <div class="col-lg-4 col-12 p-0 d-none d-md-block">
                <div class="col-12 p-0 justify-content-center" style="height: 48px">
                    <button type="button" id="create-btn" 
                            class=" btn btn-xl btn-outline-danger float-lg-right justify-content-center float-md-none font-weight-bold btn-block col-lg-6"
                            onmousemove="this.style.background='#36C233'; this.style.color='#ffffff'"
                            onmouseout="this.style.background='#ffffff'; this.style.color='#36C233'"
                            style="background: #ffffff; border-color: #36C233; outline: none; height: 48px; color: #36C233; display: flex; align-items: center; justify-content: space-evenly; margin: 28px 0 23px; font-size: 14px;">
                        &#65291; @*СТВОРИТИ*@ @Localizer["Create"]
                    </button>
                </div>
            </div>
        </div>
        <div class="row ml-0 mr-0 justify-content-start w-100 align-content-center d-lg-flex d-none d-md-flex d-sm-none "
             style="height: 40px; font-weight: 500; font-size: 18px; color: #232323; background: #F7F7F7;">
            <div class="col-1">
            </div>
            @Html.DisplayListHeaderForEx(model => model.Category.Name)
            @Html.DisplayListHeaderForEx(model => model.Name)
            @Html.DisplayListHeaderForEx(model => model.Description,new { colnumbers = 4})
            @Html.DisplayListHeaderForEx(model => model.Price)
            @* <div class="col-2" style="cursor: pointer"><span class="sort-span">Комплекс</span></div>
        <div class="col-2" style="cursor: pointer"><span class="sort-span">Страва</span></div>
        <div class="col-4" style="cursor: pointer"><span class="sort-span">Опис</span></div>
        <div class="col-2" style="cursor: pointer"><span class="sort-span">Вартість</span></div>*@
            <div class="col-2"></div>

        </div>
        <div id="table-content" class="row ml-0 mr-0 mt-0 justify-content-center w-100 table-content">

        </div>
    </div>
    <div class="modal fade" @*id="change-item-modal"*@ id="modDialog" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" id="dialogContent" style="max-width: 850px">
        </div>
    </div>
    @*<div id="modDialog" class="modal dishes-modal fade">
        <div id="dialogContent" class="modal-dialog"></div>
    </div>*@
}
else
{
    <div class="container">
        <div class="row justify-content-end">
            <div class="col-md-6 right">
                <h2>@ModelName</h2>
            </div>
            <div class="col-md-6 right">
                <div id="custom-search-input">
                    <div class="input-group">
                        <input type="text" id="search-val" class="form-control input-lg" placeholder="@ModelName" />
                        <span class="input-group-btn">
                            <button class="btn btn-info btn-lg" id="search-btn" type="button">
                                <span class="fa fa-search" aria-hidden="true"></span>
                            </button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-12 col-lg-12">
                <div id="table-content" class="table-content">

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-12 col-lg-12  table-footer bg-white text-success">
                <div id="create-btn" class="col-lg-3 col-md-3 create">
                    <span>@Localizer["Create"]</span>
                    <span class="fa fa-plus" aria-hidden="true"></span>

                </div>
            </div>
        </div>
    </div>

    <div id="modDialog" class="modal dishes-modal fade">
        <div id="dialogContent" class="modal-dialog"></div>
    </div>
}
@{
    await Html.RenderPartialAsync("ModalSearch", "Ingredient");
}


@section scripts
{
    <script src="http://malsup.github.com/jquery.form.js"></script>
    <script type="text/javascript">

        $(function () {

            var reload = function (href) {
                if (!href)
                    href = '/Dishes/ListItems?';
                else
                    href += "&";
                var searchcriteria = '';
                if ($('#search-val').length > 0)
                    searchcriteria = $('#search-val').val()
                $('#table-content').load(href + 'searchcriteria=' + searchcriteria);

            }

            $.ajaxSetup({ cache: false });
            //$('#table-content').load('@Url.Action("ListItems","Dishes", new { searchcriteria = "" })');
            reload();
            $('#search-btn').click(function (e) {
                reload();
            });
            $('#search-val').keydown((event) => {
                if (event.which == 13) {
                    event.preventDefault();
                    reload();
                }
            });
            $("#search-form").submit(function (e) {
                return false;
            });
            $('#create-btn').click(function (e) {
                e.preventDefault();
                var url = '@Url.Content("~/Dishes/CreateModal")';
                $.get(url, function (data) {
                    $('#dialogContent').html(data);
                    $('#modDialog').modal('show');
                    setup_search_ingredients();
                });
            });
            $(document).on("click", "a.ahead", function (e) {
                e.preventDefault();
                reload(this.href);
            });
            $(document).on("click", "a.apagebottom", function (e) {
                e.preventDefault();
                reload(this.href);
            });
            $(document).on("change", "select.col-select-filter", function (e) {
                e.preventDefault();
                var href = $(this).next().attr('href');

                if (href.includes("?")) {
                    href += "&relationfilter=" + $(this).val();
                }
                else {
                     href += "?relationfilter=" + $(this).val();
                }

                reload(href);
            });
            function setupChangesChecker(dlg) {
                $(dlg).attr("_changed", false);
                $(dlg).find("input,textarea").change(function () {
                    $(dlg).attr("_changed", true);
                });
                $(dlg).on('hide.bs.modal', function (e) {
                    if ($(dlg).attr("_changed") == "true") {
                        if (!confirm("There are unsaved changes, please confirm. your input will be lost"))
                            e.preventDefault();
                        $(dlg).attr("_changed", false);
                    }
                });

            }
            
            $(document).on( "click", "a.dishitem", function(e) {
               e.preventDefault();

                $.get(this.href, function (data) {
                    $('#dialogContent').html(data);
                    //console.log(data);
                    $('#modDialog').attr("data-backdrop", false);
                    $('#modDialog').css("background-color", "rgba(117, 117, 117, 0.5)");
                    $('#modDialog').modal('show');
                    setupChangesChecker($('#modDialog'));

                    var id = $('#dialogContent').find("#Id").val();
                    loadingredients(id);
                    loadingredientsproprotion(id);

                   // $('#dialogContent').find("#nav-tab").tab();
                });
            });

            $(document).on("click", "a.cmd-delete", function (e) {
                e.preventDefault();
                $.get(this.href, function (data) {

                    $('#dialogContent').html(data);
                    $('#modDialog').attr("data-backdrop", false);
                    $('#modDialog').css("background-color", "rgba(117, 117, 117, 0.5)");
                    $('#modDialog').modal('show');
                  //  if (self.options.onloadedcb)
                  //      self.options.onloadedcb();
                });
            });
            function loadingredientsproprotion(id) {
                console.log("load ingredient");
                var url = '@Url.Content("~/Dishes/EditIngredientsProportion/")' + id;

                $.get(url, function (data) {
                    $('#dialogContent').find(".ingredients-content-proportion").html(data);
                    setup_search_ingredients();
                });
            }
            $(document).on("click", ".delete-ingredients-dishes-line", function (e) {
                e.preventDefault();
                //console.log("delte");
                var content = $(this).parents(".ingredients-content-proportion");
                $(this).parents(".ingredient-dishes-line").remove();
                content.find(".ingredient-dishes-line").each(function (lidx, lel) {
                    $(lel).find('input[name*="["]').each(function (idx, el) {
                        var name = $(el).attr('name');
                        //console.log(name);
                        var newname = name.replace(/\[\d+\]/g, `[${lidx}]`);
                        $(el).attr('name', newname);
                        //console.log(newname);
                    });
                });
                $('#modDialog').attr("_changed", true);
            });
            function setup_search_ingredients() {
                console.log("add ingredient");
                setup_search({
                    href: '@Url.Content("~/Ingredients/SearchView")',
                    itemselector: 'a.add-ingredients-dishes-line',
                    classname: 'ingredient',
                    onitemselectedcb: function (src, html_item, item) {
                        var index = $('#dialogContent').find(".ingredients-content-proportion").find(".ingredient-dishes-line").length;
                        var url_newline = `@Url.Content("~/Dishes/NewIngredientDishesLine")?Index=${index}&IngredientId=${item.id}&IngredientName=${item.name}`;
                        $.get(url_newline, function (data) {
                            $('#dialogContent').find(".ingredients-content-proportion").after(data);
                        });
                        $('#modDialog').attr("_changed", true);
                    }
                });
            }
            $(document).on('hidden.bs.modal', '.modal', function () {
                $('.modal:visible').length && $(document.body).addClass('modal-open');
            });
            function loadingredients(id) {
                var url = '@Url.Content("~/Dishes/EditIngredients/")' + id;

            }
             function readURL(input) {
                  if (input.files && input.files[0]) {
                    var reader = new FileReader();

                    reader.onload = function(e) {
                      $('#imgfilepicture').attr('src', e.target.result);
                    }

                    reader.readAsDataURL(input.files[0]);
                  }
                }
             $(document).on("change","#filepicture",function() {
                  readURL(this);
              });
              $(document).on('click', '[data-save="modal"]', function (event) {
                  event.preventDefault();
                  console.log("send");
                  //old design
                 // var form = $(this).parents('.modal-body').find('form');
                  //new design
                  var form = $(this).parents('.modal-content').find('form');
                  console.log(form);
                    var actionUrl = form.attr('action');
                    //var dataToSend = form.serialize();
                    // var formData = new FormData(form[0]);
                   var formdata = false;
                    if (window.FormData){
                        formdata = new FormData(form[0]);
                    }

                  var formAction = form.attr('action');


                    $.ajax({
                        url         : formAction,
                        data        : formdata ? formdata : form.serialize(),
                        cache       : false,
                        contentType : false,
                        processData : false,
                        type        : 'POST',
                        success     : function(data, textStatus, jqXHR){
                            var isValid = false;

                          if (data && data.res && data.res== "OK")
                                    isValid = true;

                            if (isValid) {
                                      $('#modDialog').attr("_changed", false);
                                      $('#modDialog').modal('hide');
                                      $('#dialogContent').empty();
                                      reload();
                                  }
                                  else {
                                      var newBody = $('.modal-body', data);
                                      $(document).find('.modal-body').replaceWith(newBody);
                                  }
                            }
                    });


                });
        })
    </script>
}
