@model IEnumerable<CateringPro.Models.Dish>

@using CateringPro.Core
@{
    QueryModel querymodel = ViewData["QueryModel"] as QueryModel;
    if (querymodel == null)
    {
        querymodel = new QueryModel();
    }

}
<table class="table">
    <thead>
        <tr class="bg-secondary text-white rounded border">
            <th>
                
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                <img src="@Url.Action("GetPicture","Pictures",new { id=item.PictureId,width=30,height=30})" style="width:80px;height:80px;"/>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>



                <a asp-action="Delete" asp-route-id="@item.Id"> <span class="fa fa-trash" aria-hidden="true"></span></a>
                @Html.ActionLink("", "EditModal",
                             new { id = item.Id }, new { @class = "dishitem fa fa-pencil-square-o" })
            </td>
        </tr>
        }
    </tbody>
    <tfoot>
        <tr class="bg-secondary text-white rounded border">
            <td colspan="3">
                @await this.InvokeComponentAsync(Component, "TablePager", model => model.Description, querymodel)
            </td>
        </tr>
    </tfoot>
</table>