@model CateringPro.Models.Discount
@inject Microsoft.Extensions.Options.IOptions<UIOption> pageOptions
@inject CateringPro.Core.SharedViewLocalizer Localizer
@using System.Text.Json;
@{
    ViewData["Title"] = "Edit";
}


<div class="modal-content col-lg-12 col-12">
    <div class="modal-header align-items-center pl-lg-4 pl-2" style="padding-top:20px">
        <h5 class="modal-title p-0" id="exampleModalLabel"
            style="font-size: 34px; line-height: 40px; font-weight: bold">
            @Localizer["Discount"]
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <img src="./img/close-modal.svg" aria-hidden="true" alt="">
        </button>
    </div>
    <div class="modal-body col-auto">
        <form asp-action="EditModal" enctype="multipart/form-data">
            <div class="row justify-content-around flex-column flex-lg-row flex-md-row flex-sm-column align-content-sm-center align-content-center align-items-sm-center align-items-center"
                 style=" min-height: 350px">

                <div class="col-12  justify-content-md-center justify-content-center mt-3 mt-md-0 mt-lg-0">

                    <div class="row">
                        <div class="col-12 p-0 ">
                            <input type="hidden" asp-for="Id" />

                            <div class="row col-12 justify-content-between p-0 m-0 align-items-center mb-2"
                                 style="margin-bottom: 6px">
                                <label class="col-4" asp-for="Name"
                                       style="margin-bottom: 0; text-align: center; display: flex; justify-content: left; padding-left: 0">@*Страва*@</label>
                                    <div class="col-8 flex-grow-1 justify-content-end p-0">
                                        <input asp-for="Name" class="form-control"
                                               placeholder="@Localizer["Name"]"
                                               style="max-width: 245px; height: 34px" />

                                    </div>
                                    <span asp-validation-for="Name" class="text-danger"></span>
                                </div>
                                <div class="row col-12 justify-content-between p-0 m-0 align-items-center mb-2"
                                     style="margin-bottom: 6px">
                                    <label class="col-4" asp-for="Code"
                                           style="margin-bottom: 0; text-align: center; display: flex; justify-content: left; padding-left: 0">@*Страва*@</label>
                                        <div class="col-8 flex-grow-1 justify-content-end p-0">
                                            <input asp-for="Code" class="form-control"
                                                   placeholder="@Localizer["Code"]"
                                                   style="max-width: 245px; height: 34px" />

                                        </div>
                                        <span asp-validation-for="Code" class="text-danger"></span>
                                    </div>
                                    <div class="row col-12 justify-content-between p-0 m-0 align-items-center mb-2"
                                         style="margin-bottom: 6px">
                                        <label class="col-4" asp-for="Value"
                                               style="margin-bottom: 0; text-align: center; display: flex; justify-content: left; padding-left: 0">@*Страва*@</label>
                                            <div class="col-8 flex-grow-1 justify-content-end p-0">
                                                <input asp-for="Value" class="form-control"
                                                       placeholder=""
                                                       style="max-width: 245px; height: 34px" />

                                            </div>
                                            <span asp-validation-for="Value" class="text-danger"></span>
                                        </div>
                                        <div class="row col-12 justify-content-between p-0 m-0 align-items-center mb-2"
                                             style="margin-bottom: 6px">
                                            <label class="col-4" asp-for="Type"
                                                   style="margin-bottom: 0; text-align: center; display: flex; justify-content: left; padding-left: 0">@*Страва*@</label>
                                                <div class="col-8 flex-grow-1 justify-content-end p-0">
                                                    @*<input asp-for="Type" class="form-control"
                                                        placeholder=""
                                                        style="max-width: 245px; height: 34px" />*@
                                                    <select class="form-control col-12 col-lg-8 col-md-8 pl-3 sel-type"
                                                            style="height: 34px; border: 1px solid #ced4da; border-radius: 4px; font-family: Open-Sans, sans-serif"
                                                            name="Type" id="Type">
                                                        <option value="1" class="disc-type" data-sel="@((Model.Type == 1) ? "true" : "false")">@pageOptions.Value.CurrencySymbol</option>
                                                        <option value="2" class="disc-type" data-sel="@((Model.Type == 2) ? "true" : "false")">%</option>
                                                    </select>

                                                </div>
                                                <span asp-validation-for="Type" class="text-danger"></span>
                                            </div>
                                            <div class="row col-12 justify-content-between p-0 m-0 align-items-center mb-2"
                                                 style="margin-bottom: 6px">
                                                <label class="col-4" asp-for="DateFrom"
                                                       style="margin-bottom: 0; text-align: center; display: flex; justify-content: left; padding-left: 0">@*Страва*@</label>
                                                    <div class="col-8 flex-grow-1 justify-content-end p-0">
                                                        <input asp-for="@Model.DateFrom" type="date" class="form-control"
                                                               style="max-width: 245px; height: 34px" />

                                                    </div>
                                                    <span asp-validation-for="DateFrom" class="text-danger"></span>
                                                </div>
                                                <div class="row col-12 justify-content-between p-0 m-0 align-items-center mb-2"
                                                     style="margin-bottom: 6px">
                                                    <label class="col-4" asp-for="DateTo"
                                                           style="margin-bottom: 0; text-align: center; display: flex; justify-content: left; padding-left: 0">@*Страва*@</label>
                                                        <div class="col-8 flex-grow-1 justify-content-end p-0">
                                                            <input asp-for="@Model.DateTo" type="date" class="form-control"
                                                                   style="max-width: 245px; height: 34px" />

                                                        </div>
                                                        <span asp-validation-for="DateTo" class="text-danger"></span>
                                                    </div>
                                                    <div class="row col-12 justify-content-between p-0 m-0 align-items-center mb-2"
                                                         style="margin-bottom: 6px">
                                                        <label class="col-4" asp-for="Categories"
                                                               style="margin-bottom: 0; text-align: center; display: flex; justify-content: left; padding-left: 0">@*Страва*@</label>
                                                            <div class="col-8 flex-grow-1 justify-content-end p-0">

                                                                @{
                                                                    DiscountJson json;
                                                                    if (Model.Categories != null)
                                                                    {
                                                                        json = JsonSerializer.Deserialize<DiscountJson>(Model.Categories);
                                                                    }
                                                                    else
                                                                    {
                                                                        json = new DiscountJson();
                                                                    }
                                                                }
                                                                <ul class="list-group orderType">
                                                                    @foreach (Categories value in ViewBag.CategoriesId)
                                                                    {

                                                                        var description = value.Name;
                                                                        var classname = "role-item list-group-item";

                                                                        if (json.CategoriesId.Contains(value.Id))
                                                                        {
                                                                            classname += " active";
                                                                        }

                                                                        <li class="@classname " style="cursor:pointer;" data-val="@value.Id">@Localizer[value.Name.ToString()]</li>

                                                                    }
                                                                </ul>
                                                                <input type="hidden" asp-for="Categories" />
                                                                @*<input type="hidden" id="orderType1" name="orderType1" value="@roles" />*@

                                                            </div>
                                                            <span asp-validation-for="Categories" class="text-danger"></span>
                                                        </div>



                                                    </div>
                                                </div>

                                            </div>
                                        </div>

                                    </form>
                                </div>
                                <div class="modal-footer justify-content-center"
                                     style="font-size: 14px; font-weight: bold; line-height: 16px; padding: 40px 0 58px">
                                    <button type="button" button class="btn btn-primary m-2 col-sm-4 col-xl-4 col-12"
                                            style="background: #36C233; border: 1px solid #36C233; height: 48px" data-save="modal">
                                        @Localizer["Save"]
                                    </button>

                                    <button type="button" class="btn btn-secondary m-2 col-sm-4 col-xl-4 col-12 "
                                            style="background: #ffffff; border: 1px solid #F15E25; height: 48px; color: #f15e25"
                                            data-dismiss="modal">
                                        @Localizer["Cancel"]
                                    </button>
                                </div>
                            </div>
<script>
    function set() {
        $(".disc-type").each(function (opt) {
            //console.log($(this).attr("data-sel"));
            if ($(this).attr("data-sel") == "true") {
                // console.log($(this).val());
                $(".sel-type").val($(this).val());
            }
        });
    }
    set();
</script>
                            }


                            @section Scripts {
                                @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
                            }
