@model IEnumerable<CateringPro.Models.UserDayComplexViewModel>

@using CateringPro.Core
@inject Microsoft.Extensions.Options.IOptions<UIOption> pageOptions
@inject CateringPro.Core.SharedViewLocalizer Localizer
@{
    ViewData["Title"] = "EditDay";
    bool allowEdit = (bool)ViewData["AllowEdit"];
    bool allowAdmin = (bool)ViewData["AllowAdmin"];
}
@{
    DateTime daydate = DateTime.Now;
    if (Model.Any() ) {
        daydate = Model.First().Date;
    }
    daydate = daydate.ResetHMS();
    int com = 0;
    int dayCom = 0;
    int course = 0;
}
@if (Model.Count() > 0)
{
    <div class="headorders pt20 pb20">
        <h2>@Localizer["Complex Dishes"]</h2>
    </div>

    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-lg-4 col-md-6">
                <div class="line-content pt30">
                    <img src="@Url.Action("GetPicture", "Pictures", new { id = item.ComplexPictureId })" alt="">
                    <div class="line-stic pt30 d-flex">
                        <p>@item.ComplexCategoryName</p>
                        <p class="line-p-sklad" data-toggle="modal" data-target="#line-sklad">@Localizer["Consists"]</p>

                    </div>
                    <div class="line-head d-flex">

                        <h5>@item.ComplexName</h5>
                    </div>
                    <div class="line-head d-flex">
                        <p>@item.ComplexDescription</p>
                    </div>
                    <div class="line-head d-flex">
                        <ul style="list-style-type: square; ">
                            @foreach (var d in item.ComplexDishes)
                            {
                                @*<p>@d.DishCourse  @d.DishName </p>*@
                            <li style="list-style-type: square;">
                                <h5>@d.DishName</h5>
                            </li>
                            }
                        </ul>
                    </div>


                    
                    <div class=" d-flex justify-content-center">
                        <div class=""><h3><span>@item.Price</span><i class="fas fa-hryvnia"></i></h3></div>
                    </div>
                    <div class="complex-input-content d-flex justify-content-between">
                        <div class="input-line-cart  d-flex justify-content-between">
                            @if (allowEdit)
                            {
                                <a class="quantity-minus" href="#"><i class="fas fa-minus"></i></a>
                            }
                            <input type="text" class="input-line quantity" name="number" placeholder="0" value="@item.Quantity" data-originalvalue="@item.Quantity">
                            @if (allowEdit)
                            {
                                <a class="quantity-plus" href="#"><i class="fas fa-plus"></i></a>
                            }
                        </div>
                        <div class="">
                            @if (allowEdit)
                            {
                                <a href="#" class="ordercomplex button-basic" data-complexid="@item.ComplexId" data-price="@item.Price" data-daydate="@daydate">@Localizer["MyOrdersSave"]</a>
                            }
                        </div>
                    </div>


                </div>

            @{ 
                com++;
            }
        
  
  
    @if (allowEdit)
    {

        //<button data-date="@Model.First().Date.Day" date-fullDate="@Model.First().Date" class="btn btn-primary send">@Localizer["MyOrdersSave"]</button>
        // <button type="button" button class="btn btn-primary" data-action="saveuserdaycomplex">@Localizer["MyOrdersSave"]</button>
    }

    </div>
   }
    </div>
}
