@model IEnumerable<UserCardViewModel>
@{

    Layout = null;

}
<div class="container users-cards-list-content">
@foreach(var it in @Model)
{
    <div class="row user-card border rounded" data-id="@it.UserId">
        <div class="col-2 user-card-picture">
            <img src="@Url.Action("GetPicture", "Pictures", new { id = it.PictureId, width = 80, height = 80 })" style="width:80px;height:80px;" />

        </div>

        <div class="col-2 user-card-name overflow-hidden">
            @it.UserName
        </div>
        <div class="col-2 user-card-email overflow-hidden">
            @it.UserEmail
        </div>
        <div class="col-2 user-card-name overflow-hidden">
            @it.UserChildName
        </div>
        <div class="col-2 user-card-action overflow-hidden">

        </div>

    </div>
}
</div>