@model IEnumerable<UserCardViewModel>
@inject CateringPro.Core.SharedViewLocalizer Localizer
@{

    Layout = null;

}
<div class="container users-cards-list-content">
    <div class="row user-card bg-info text-white my-2">
        <div class="col-2 user-card-picture">
            <span>@Localizer["Photo"]</span>
        </div>

        <div class="col-2 user-card-name overflow-hidden">
            <span>@Localizer["NameSurname"]</span>
        </div>
        <div class="col-2 user-card-email overflow-hidden">
            <span>E-mail</span>
        </div>
        <div class="col-2 user-card-name overflow-hidden">
            <span>@Localizer["Child"]</span>
        </div>
        <div class="col-2 user-card-name overflow-hidden">
            <span>@Localizer["Token"]</span>
        </div>
        <div class="col-2 user-card-action overflow-hidden">
            <span>@Localizer["Action"]</span>
        </div>

    </div>
    @if (Model.Count() == 0)
    {
        <div class="row user-card border rounded">
            <div class="col-12 ">
                @Localizer["NoRecords"]
            </div>
        </div>
    }

    @foreach (var it in @Model)
    {
        <div class="row user-card border-bottom text-wrap text-break word-break align-middle" data-id="@it.UserId">
            <div class="col-2 user-card-picture p-2">
                <img src="@Url.Action("GetPicture", "Pictures", new { id = it.PictureId, width = 80, height = 80 })" style="width:80px;height:80px;" />

            </div>

            <div class="col-2 user-card-name">
                @it.UserName
            </div>
            <div class="col-2 user-card-email">
                @it.UserEmail
            </div>
            <div class="col-2 user-card-name">
                @it.UserChildName
            </div>
            <div class="col-2 user-card-name">
                @it.CardToken
            </div>
            <div class="col-2 user-card-action  align-middle">
                <button class="burn-card btn btn-danger" data-id="@it.UserId">@Localizer["Write"]</button>
            </div>

        </div>
    }
</div>