@model IEnumerable<ConsignmentStockViewModel>
@inject CateringPro.Core.SharedViewLocalizer Localizer
@{
    var pageName = @Localizer["ConsignmentStock"];
    ViewData["Title"] = pageName;
}

<h2>@pageName</h2>




<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IngredientName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StockValue)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MeasureUnit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ValidTo)
            </th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IngredientName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StockValue)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MeasureUnit)

            </td>
            <td>
                @item.ValidTo.ToString("d", System.Globalization.CultureInfo.CurrentUICulture)
               

            </td>
            
        </tr>

            foreach (var detail in item.Consignments)
            {
                <tr class="stock-consignment small">
                    <td>
                        @Html.DisplayFor(modelItem => detail.DocTypeName)
                        <br>
                        @detail.DocDate.ToString("d", System.Globalization.CultureInfo.CurrentUICulture)
                            
                        <br>
                        @Html.DisplayFor(modelItem => detail.DocNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => detail.StockValue)
                      
                    </td>
                    <td>
                        @detail.ValidUntil.ToString("d", System.Globalization.CultureInfo.CurrentUICulture)
                  
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
