@model IEnumerable<ConsignmentStockViewModel>

@{
    var pageName = "Orders";
    ViewData["Title"] = pageName;
}

<h2>@pageName</h2>

@if (Model.Count() <= 0)
{
    <h3>You haven't created any @pageName yet...</h3>
}


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IngredientName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StockValue)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IngredientName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StockValue)
            </td>
            <td>
                @*<a asp-action="Edit" asp-route-id="@item.OrderId">Edit</a> |*@

            </td>
        </tr>
            
            foreach(var detail in item.Consignments)
            {
            <tr class="stock-consignment small">
                <td>
                    @Html.DisplayFor(modelItem => detail.DocDate)
                    <br />
                    @Html.DisplayFor(modelItem => detail.DocNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => detail.StockValue)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => detail.ValidUntil)
                </td>
            </tr>
            }
        }
    </tbody>
</table>
