
@{
    Layout = null;
}

@model CateringPro.Models.DayIngredientsViewModel

<html>
<head>
    <link href="~/css/invoice.css" type="text/css" rel="stylesheet" />
</head>
<body>
    <div class="invoice-box">
        <table cellpadding="0" cellspacing="0">
            <tr class="top">
                <td colspan="2">
                    <table>
                        <tr>
                            <td class="title">
                                <img src="@Url.Action("GetPicture","Pictures",new { id=@Model.Company.PictureId,width=200,height=100})" style="width:100%; max-width:300px;" />
                            </td>
                            <td>
                                Звiт кухня
                                <br> Розрахунок Продуктiв
                                <br> Дата: @DateTime.Now.ToShortDateString()

                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr class="information ">
                <td colspan="2 ">
                    <table>
                        <tr>
                            <td>

                            </td>
                            <td></td>
                            <td></td>
                            <td>

                            </td>
                        </tr>
            </table>
        </td>
    </tr>
            <tr class="heading ">
                <td>
                    Код
                </td>
                <td>
                    Назва
                </td>
                <td>
                    Кiлькiсть
                </td>
                <td>
                    Од. вим
                </td>
            </tr>
@{ 
    int i = 1;
}
    @foreach (var item in Model.Items)
    {
        <tr class="item">
            <td>
                @i
            </td>
            <td>
                @item.IngredientName
            </td>
            <td>
                @Html.DisplayFor(model => item.Quantity)

            </td>
            <td>
                @Html.DisplayFor(model => item.MeasureUnit)

            </td>
        </tr>
        i++;
    }

        <tr class="total ">
            <td></td>
            <td></td>

            <td>
                Итого: @Model.Items.Sum(i => i.Quantity).ToString("0.00")
            </td>
        </tr>
</table>
</div>
</body>
</html>