
@{
    Layout = null;
}

@model CateringPro.Models.InvoiceModel
@using CateringPro.Core
@inject Microsoft.Extensions.Options.IOptions<UIOption> pageOptions
@inject CateringPro.Core.SharedViewLocalizer Localizer
<html>
<head>
    <style>
        .invoice-box {
            max-width: 800px;
            margin: auto;
            padding: 30px;
            border: 1px solid #eee;
            box-shadow: 0 0 10px rgba(0, 0, 0, .15);
            font-size: 16px;
            line-height: 24px;
            font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
            color: #555;
        }

            .invoice-box table {
                width: 100%;
                line-height: inherit;
                text-align: left;
            }

                .invoice-box table td {
                    padding: 5px;
                    vertical-align: top;
                }

                .invoice-box table tr td:nth-child(3) {
                    text-align: right;
                }

                .invoice-box table tr.top table td {
                    padding-bottom: 20px;
                }

                    .invoice-box table tr.top table td.title {
                        font-size: 45px;
                        line-height: 45px;
                        color: #333;
                    }

                .invoice-box table tr.information table td {
                    padding-bottom: 40px;
                }

                .invoice-box table tr.heading td {
                    background: #eee;
                    border-bottom: 1px solid #ddd;
                    font-weight: bold;
                }

                .invoice-box table tr.details td {
                    padding-bottom: 20px;
                }

                .invoice-box table tr.item td {
                    border-bottom: 1px solid #eee;
                }

                .invoice-box table tr.item.last td {
                    border-bottom: none;
                }

                .invoice-box table tr.total td:nth-child(5) {
                    border-top: 2px solid #eee;
                    font-weight: bold;
                }

        @@media only screen and (max-width: 600px) {
            .invoice-box table tr.top table td {
                width: 100%;
                display: block;
                text-align: center;
            }

            .invoice-box table tr.information table td {
                width: 100%;
                display: block;
                text-align: center;
            }
        }
    </style>
</head>
<body>
    <div class="invoice-box">
        <table cellpadding="0" cellspacing="0">
            <tr class="top">
                <td colspan="2">
                    <table>
                        <tr>
                            <td class="title">
                                <img src="@Model.Seller.UrlPicture" style="width:100%; max-width:300px;" />
                            </td>
                            <td>
                                Рахунок: @Model.Number
                                <br> Дата: @DateTime.Now.ToShortDateString()

                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr class="information ">
                <td colspan="2 ">
                    <table>
                        <tr>
                            <td>
                                @Model.Seller.Name<br>
                                @Model.Seller.City<br>
                                @Model.Seller.Country<br>
                                @Model.Seller.Address1
                            </td>
                            <td></td>
                            <td></td>
                            <td>
                                @Model.Buyer.Name<br>
                                @Model.Buyer.City<br>
                                @Model.Buyer.Country<br>
                                @Model.Buyer.Address1
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr class="heading ">
                <td>
                    Код
                </td>
                <td>
                    Назва
                </td>
                <td>
                    Кiлькiсть
                </td>
                <td>
                    Вартiсть (@pageOptions.Value.CurrencySymbol)
                </td>
                <td>
                    Сума (@pageOptions.Value.CurrencySymbol)
                </td>
            </tr>
            
            @foreach (var item in Model.Items)
            {
                <tr class="item">
                    <td>
                        @item.Code
                    </td>
                    <td>
                        @item.Name
                    </td>
                    <td>
                        @Html.DisplayFor(model => item.Quantity)

                    </td>
                    <td>
                        @item.Price.ToString("0.00")
                    </td>
                    <td>
                        @item.Amount.ToString("0.00")

                    </td>
                </tr>
            }

            <tr class="total ">
                <td></td>
                <td> Загальна сума: </td>
                <td>@Model.Items.Sum(i => i.Amount).ToString("0.00") (@pageOptions.Value.CurrencySymbol)</td>
                <td></td>
                <td>
                </td>
            </tr>
            <tr class="sign ">
                <td>Директор</td>
                <td></td>
                <td></td>
                <td></td>
                <td>
                    <img src="@Model.Seller.UrlStampPicture" style="width:100%; max-width:300px;" />
                </td>
            </tr>
        </table>
    </div>
    <div class="dayComplexBag border border-success rounded">

        @foreach (var item1 in Model.Items)
        {
           
                var item = item1.DayComplex;
            <div class="userDayComplexBag">
                @if (item.Quantity > 0)
                {


                    <div class="bagDayComplexItem table-responsive">
                        <table class="table table-hover shopping-cart-wrap">
                            <thead class="text-muted">
                                <tr>
                                    <th scope="col">@Localizer["DishPictureTab"]</th>
                                    <th scope="col">@Localizer["Dish Name"]</th>
                                    <th scope="col">@Localizer["Dish ReadyWeight"]</th>
                                    <th scope="col">@Localizer["Dish Description"]</th>
                                    <th scope="col">@Localizer["DishQuantity"]</th>
                                </tr>
                            </thead>
                            <tbody>


                                @foreach (var dish in item.ComplexDishes)
                                {
                                    <tr>

                                        @*<div class="row ">*@
                                        @*<div class="col">
                                        @(dish.DishCourse+1)
                                        </div>*@

                                        <td>
                                            @(dish.DishCourse + 1)
                                            <img src="@Url.Action("GetPicture", "Pictures", new { id = dish.PictureId, width = 50, height = 50 })" style="width:50px;height:50px;" />


                                        </td>
                                        <td>
                                            @*<input data-val="true" name="UserDayDish[@com].DishId" type="hidden" value="@dish.DishId">
                                            <input data-val="true" name="UserDayDish[@com].ComplexId" type="hidden" value="@item.ComplexId">
                                            <input data-val="true" name="UserDayDish[@com].Date" type="hidden" value="@item.Date">
                                            <input data-val="true" name="UserDayDish[@com].IsComplex" type="hidden" value="True">*@
                                            @*@Html.HiddenFor(modelItem => dish.DishId, new { datafield = "DishID" })*@

                                            @Html.DisplayFor(modelItem => dish.DishName)

                                        </td>

                                        <td>
                                            @String.Format("{0:f0}", dish.DishReadyWeight) @Localizer["DishReadyWeightMeasureUnit"]

                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => dish.DishDescription)
                                            <p />
                                            @Html.DisplayFor(modelItem => dish.DishIngredients)
                                        </td>
                                        @*<div class="col col-lg-4 col-md-4 col-4 small">


                                        </div>*@

                                        <td>


                                            @Html.DisplayFor(modelItem => dish.DishQuantity, new { htmlAttributes = new { datafield = "Quantity" } })


                                        </td>




                                    </tr>
                                }

                            </tbody>
                        </table>
                    </div>

                }
            </div>

                }

            }
    </div>
</body>
</html>
