
@{
    Layout = null;
}

@model CateringPro.Models.InvoiceModel
@using CateringPro.Core
@inject Microsoft.Extensions.Options.IOptions<UIOption> pageOptions
@inject CateringPro.Core.SharedViewLocalizer Localizer
@inject CateringPro.Helpers.URLHelperContextLess Url
@if (true)
{
    <html>
<head>

</head>
<body>
    <div class=" modal-body week-details  col-auto p-0 mt-2 ">
        <style>
            #modal-body {
                max-width: 966px;
            }

                #modal-body * {
                    box-sizing: border-box;
                }

                #modal-body .btn {
                    display: inline-block;
                    font-weight: 400;
                    color: #212529;
                    text-align: center;
                    vertical-align: middle;
                    -webkit-user-select: none;
                    -moz-user-select: none;
                    -ms-user-select: none;
                    user-select: none;
                    background-color: transparent;
                    border: 1px solid transparent;
                    padding: .375rem .75rem;
                    font-size: 1rem;
                    line-height: 1.5;
                    border-radius: .25rem;
                    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
                }

                #modal-body .btn-outline-danger {
                    color: #dc3545;
                    border-color: #dc3545;
                }

                #modal-body .btn:not(:disabled):not(.disabled) {
                    cursor: pointer;
                }

                #modal-body .row {
                    display: -ms-flexbox;
                    display: flex;
                    -ms-flex-wrap: wrap;
                    flex-wrap: wrap;
                    margin-right: -15px;
                    margin-left: -15px;
                }

                #modal-body .col, #modal-body .col-1, #modal-body .col-10, #modal-body .col-11, #modal-body .col-12, #modal-body .col-2, #modal-body .col-3, #modal-body .col-4, #modal-body .col-5, #modal-body .col-6, #modal-body .col-7, #modal-body .col-8, #modal-body .col-9, #modal-body .col-auto, #modal-body .col-lg, #modal-body .col-lg-1, #modal-body .col-lg-10, #modal-body .col-lg-11, #modal-body .col-lg-12, #modal-body .col-lg-2, #modal-body .col-lg-3, #modal-body .col-lg-4, #modal-body .col-lg-5, #modal-body .col-lg-6, #modal-body .col-lg-7, #modal-body .col-lg-8, #modal-body .col-lg-9, #modal-body .col-lg-auto, #modal-body .col-md, #modal-body .col-md-1, #modal-body .col-md-10, #modal-body .col-md-11, #modal-body .col-md-12, #modal-body .col-md-2, #modal-body .col-md-3, #modal-body .col-md-4, #modal-body .col-md-5, #modal-body .col-md-6, #modal-body .col-md-7, #modal-body .col-md-8, #modal-body .col-md-9, #modal-body .col-md-auto, #modal-body .col-sm, #modal-body .col-sm-1, #modal-body .col-sm-10, #modal-body .col-sm-11, #modal-body .col-sm-12, #modal-body .col-sm-2, #modal-body .col-sm-3, #modal-body .col-sm-4, #modal-body .col-sm-5, .col-sm-6, #modal-body .col-sm-7, #modal-body .col-sm-8, #modal-body .col-sm-9, #modal-body .col-sm-auto, #modal-body .col-xl, #modal-body .col-xl-1, #modal-body .col-xl-10, #modal-body .col-xl-11, #modal-body .col-xl-12, #modal-body .col-xl-2, #modal-body .col-xl-3, #modal-body .col-xl-4, #modal-body .col-xl-5, #modal-body .col-xl-6, #modal-body .col-xl-7, #modal-body .col-xl-8, #modal-body .col-xl-9, #modal-body .col-xl-auto {
                    position: relative;
                    width: 100%;
                    padding-right: 15px;
                    padding-left: 15px;
                }

                #modal-body .col-2 {
                    -ms-flex: 0 0 16.666667%;
                    flex: 0 0 16.666667%;
                    max-width: 16.666667%;
                }

                #modal-body .col-4 {
                    -ms-flex: 0 0 33.333333%;
                    flex: 0 0 33.333333%;
                    max-width: 33.333333%;
                }

                #modal-body .col-6 {
                    -ms-flex: 0 0 50%;
                    flex: 0 0 50%;
                    max-width: 50%;
                }

                #modal-body .col-7 {
                    -ms-flex: 0 0 58.333333%;
                    flex: 0 0 58.333333%;
                    max-width: 58.333333%;
                }

                #modal-body .col-12 {
                    -ms-flex: 0 0 100%;
                    flex: 0 0 100%;
                    max-width: 100%;
                }

                #modal-body .d-flex {
                    display: -ms-flexbox !important;
                    display: flex !important;
                }

                #modal-body .flex-column {
                    -ms-flex-direction: column !important;
                    flex-direction: column !important;
                }

                #modal-body .flex-row {
                    -ms-flex-direction: row !important;
                    flex-direction: row !important;
                }

                #modal-body .align-content-center {
                    -ms-flex-line-pack: center !important;
                    align-content: center !important;
                }

                #modal-body .align-self-center {
                    -ms-flex-item-align: center !important;
                    align-self: center !important;
                }

                #modal-body .align-items-center {
                    -ms-flex-align: center !important;
                    align-items: center !important;
                }

                #modal-body .justify-content-start {
                    -ms-flex-pack: start !important;
                    justify-content: flex-start !important;
                }

                #modal-body .justify-content-between {
                    -ms-flex-pack: justify !important;
                    justify-content: space-between !important;
                }

                #modal-body .justify-content-around {
                    -ms-flex-pack: distribute !important;
                    justify-content: space-around !important;
                }

                #modal-body .justify-content-end {
                    -ms-flex-pack: end !important;
                    justify-content: flex-end !important;
                }

                #modal-body .order-active {
                    background: #F1FFF1;
                    border-left: 4px solid #36C233;
                    font-weight: bold;
                }

                #modal-body .order-active__no-order {
                    background: #FFF2F2;
                    border-left: 4px solid #FF6666;
                    font-weight: normal;
                }

                #modal-body .brd-bot-line-reverse {
                    border-bottom: none;
                }

                #modal-body .change-color-grey {
                    color: #797979;
                }

                #modal-body .change-weight {
                    font-weight: normal;
                }

                #modal-body .p-0 {
                    padding: 0 !important;
                }

                #modal-body .pl-0, #modal-body .px-0 {
                    padding-left: 0 !important;
                }

                #modal-body .pr-0, #modal-body .px-0 {
                    padding-right: 0 !important;
                }

                #modal-body .pb-2, #modal-body .py-2 {
                    padding-bottom: .5rem !important;
                }

                #modal-body .pl-3, #modal-body .px-3 {
                    padding-left: 1rem !important;
                }

                #modal-body .pr-3, #modal-body .px-3 {
                    padding-right: 1rem !important;
                }

                #modal-body .ml-0, #modal-body .mx-0 {
                    margin-left: 0 !important;
                }

                #modal-body .ml-4, #modal-body .mx-4 {
                    margin-left: 1.5rem !important;
                }

                #modal-body .mr-0, #modal-body .mx-0 {
                    margin-right: 0 !important;
                }

                #modal-body .mb-1, #modal-body .my-1 {
                    margin-bottom: .25rem !important;
                }

                #modal-body .mt-1, #modal-body .my-1 {
                    margin-top: .25rem !important;
                }

                #modal-body .mb-2, #modal-body .my-2 {
                    margin-bottom: .5rem !important;
                }

                #modal-body .mb-3, #modal-body .my-3 {
                    margin-bottom: 1rem !important;
                }

                #modal-body .mt-2, #modal-body .my-2 {
                    margin-top: .5rem !important;
                }

                #modal-body .mt-3, #modal-body .my-3 {
                    margin-top: 1rem !important;
                }

                #modal-body .mt-5, #modal-body .my-5 {
                    margin-top: 3rem !important;
                }

                #modal-body .font-weight-bold {
                    font-weight: 700 !important;
                }

                #modal-body .w-100 {
                    width: 100% !important;
                }

                #modal-body .d-none {
                    display: none !important;
                }

                #modal-body .d-inline {
                    display: inline !important;
                }

                #modal-body .brd-bot-line-reverse {
                    border-bottom: none;
                }


            @@media (min-width: 576px) {
                #modal-body .d-sm-none {
                    display: none !important;
                }

                #modal-body .col-sm-6 {
                    -ms-flex: 0 0 50%;
                    flex: 0 0 50%;
                    max-width: 50%;
                }
            }

            @@media (min-width: 768px) {

                #modal-body .flex-md-row {
                    -ms-flex-direction: row !important;
                    flex-direction: row !important;
                }

                #modal-body .justify-content-md-start {
                    -ms-flex-pack: start !important;
                    justify-content: flex-start !important;
                }

                #modal-body .justify-content-md-between {
                    -ms-flex-pack: justify !important;
                    justify-content: space-between !important;
                }

                #modal-body .justify-content-md-end {
                    -ms-flex-pack: end !important;
                    justify-content: flex-end !important;
                }

                #modal-body .col-md-2 {
                    -ms-flex: 0 0 16.666667%;
                    flex: 0 0 16.666667%;
                    max-width: 16.666667%;
                }

                #modal-body .col-md-4 {
                    -ms-flex: 0 0 33.333333%;
                    flex: 0 0 33.333333%;
                    max-width: 33.333333%;
                }

                #modal-body .col-md-5 {
                    -ms-flex: 0 0 41.666667%;
                    flex: 0 0 41.666667%;
                    max-width: 41.666667%;
                }

                #modal-body .col-md-6 {
                    -ms-flex: 0 0 50%;
                    flex: 0 0 50%;
                    max-width: 50%;
                }

                #modal-body .col-md-10 {
                    -ms-flex: 0 0 83.333333%;
                    flex: 0 0 83.333333%;
                    max-width: 83.333333%;
                }

                #modal-body .pl-md-3, #modal-body .px-md-3 {
                    padding-left: 1rem !important;
                }

                #modal-body .pr-md-3, #modal-body .px-md-3 {
                    padding-right: 1rem !important;
                }

                #modal-body .mb-md-0, #modal-body .my-md-0 {
                    margin-bottom: 0 !important;
                }

                #modal-body .mt-md-0, #modal-body .my-md-0 {
                    margin-top: 0 !important;
                }

                #modal-body .ml-md-5, #modal-body .mx-md-5 {
                    margin-left: 3rem !important;
                }

                #modal-body .d-md-none {
                    display: none !important;
                }

                #modal-body .d-md-flex {
                    display: -ms-flexbox !important;
                    display: flex !important;
                }

                #modal-body .d-md-inline {
                    display: inline !important;
                }

                #modal-body .brd-bot-line-reverse {
                    border-bottom: 1px solid #EAEAEA !important;
                }

                #modal-body .brd-bot-line {
                    border-bottom: none;
                }

                #modal-body .change-color-grey {
                    color: #232323 !important;
                }

                #modal-body .change-weight {
                    font-weight: 600;
                }
            }

            @@media (min-width: 992px) {
                #modal-body .flex-lg-row {
                    -ms-flex-direction: row !important;
                    flex-direction: row !important;
                }

                #modal-body .justify-content-lg-start {
                    -ms-flex-pack: start !important;
                    justify-content: flex-start !important;
                }

                #modal-body .justify-content-lg-between {
                    -ms-flex-pack: justify !important;
                    justify-content: space-between !important;
                }

                #modal-body .justify-content-lg-end {
                    -ms-flex-pack: end !important;
                    justify-content: flex-end !important;
                }

                #modal-body .col-lg-2 {
                    -ms-flex: 0 0 16.666667%;
                    flex: 0 0 16.666667%;
                    max-width: 16.666667%;
                }

                #modal-body .col-lg-4 {
                    -ms-flex: 0 0 33.333333%;
                    flex: 0 0 33.333333%;
                    max-width: 33.333333%;
                }

                #modal-body .col-lg-5 {
                    -ms-flex: 0 0 41.666667%;
                    flex: 0 0 41.666667%;
                    max-width: 41.666667%;
                }

                #modal-body .col-lg-6 {
                    -ms-flex: 0 0 50%;
                    flex: 0 0 50%;
                    max-width: 50%;
                }

                #modal-body .col-lg-10 {
                    -ms-flex: 0 0 83.333333%;
                    flex: 0 0 83.333333%;
                    max-width: 83.333333%;
                }

                #modal-body .pl-lg-3, #modal-body .px-lg-3 {
                    padding-left: 1rem !important;
                }

                #modal-body .pr-lg-3, #modal-body .px-lg-3 {
                    padding-right: 1rem !important;
                }

                #modal-body .mb-lg-0, #modal-body .my-lg-0 {
                    margin-bottom: 0 !important;
                }

                #modal-body .mt-lg-0, #modal-body .my-lg-0 {
                    margin-top: 0 !important;
                }

                #modal-body .ml-lg-5, #modal-body .mx-lg-5 {
                    margin-left: 3rem !important;
                }

                #modal-body .d-lg-none {
                    display: none !important;
                }

                #modal-body .d-lg-flex {
                    display: -ms-flexbox !important;
                    display: flex !important;
                }

                #modal-body .d-lg-inline {
                    display: inline !important;
                }
            }

            #modal-body .order-active {
                background: #F1FFF1;
                border-left: 4px solid #36C233;
                font-weight: bold;
            }

            #modal-body .order-active__no-order {
                background: #FFF2F2;
                border-left: 4px solid #FF6666;
                font-weight: normal;
            }

            #modal-body .change-color-grey {
                color: #797979;
            }

            #modal-body .change-weight {
                font-weight: normal;
            }

            #modal-body .brd-bot-line {
                border-bottom: 1px solid #EAEAEA !important;
            }
        </style>
        <div class="col-12 d-flex flex-column px-0" id="modal-body">
            <div class="col-12 d-flex flex-lg-row flex-md-row flex-column">
                <div class="col-lg-2 col-md-2 col-12 px-0 px-lg-3 px-md-3 d-flex">
                    <img src="@Url.BuildPictureUrl(Model.Seller.PictureId)" alt=""
                         style="width: inherit; max-width: 130px; max-height: 130px; margin-top: 10px">
                    <div class="col-7 d-flex flex-column d-md-none d-lg-none mt-3" style="color: #232323">
                        <div class="col-12 d-flex flex-column justify-content-start"
                             style="max-height: 60px">
                            <span class="font-weight-bold" style="font-size: 14px;">Рахунок:</span>
                            <span style="font-family: Open-Sans, sans-serif; font-size: 16px;"> @Model.Number</span>
                        </div>
                        <div class="col-12 d-flex flex-column justify-content-end" style="max-height: 60px">
                            <span class="font-weight-bold" style="font-size: 14px;">Дата:</span>
                            <span style="font-family: Open-Sans, sans-serif;font-size: 16px; ">@DateTime.Now.ToShortDateString()</span>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-10 col-lg-10 px-0 px-lg-3 px-md-3 d-flex flex-column mt-3 mt-lg-0 mt-md-0">
                    <div class="col-12 p-0 brd-bot-line d-flex flex-row justify-content-lg-between justify-content-md-between justify-content-center "
                         style="max-height: 80px">
                        <div class="col-4 col-md-5 col-lg-4 d-none flex-column d-md-flex d-lg-flex  pb-2"
                             style="color: #232323">
                            <div class="col-12 d-flex flex-row justify-content-between mb-3 mt-2"
                                 style="line-height: 22px; max-height: 22px">
                                <span class="col-6 p-0"
                                      style="font-size: 14px; color: #797979;">Рахунок:</span>
                                <span class="col-6 p-0"
                                      style="font-family: Open-Sans, sans-serif; font-size: 16px;"> @Model.Number</span>
                                </div>
                                <div class="col-12 d-flex flex-row justify-content-between"
                                     style="line-height: 22px; max-height: 22px">
                                    <span class="col-6 p-0"
                                          style="font-size: 14px; color: #797979;">Дата:</span>
                                    <span class="col-6 p-0"
                                          style="font-family: Open-Sans, sans-serif;font-size: 16px; ">@DateTime.Now.ToShortDateString()</span>
                                    </div>
                                </div>
                                <button type="button"
                                        class="sendWeek btn btn-xl btn-outline-danger  font-weight-bold  col-12 col-sm-6 col-md-4 col-lg-4  d-flex justify-content-lg-start justify-content-md-start justify-content-around align-self-center mb-3 mb-lg-0 mb-md-0"
                                        style=" color: rgb(255, 255, 255); border-color: rgb(54, 194, 51); outline: none; height: 48px; background: rgb(54, 194, 51); display: flex; align-items: center; justify-content: space-evenly; font-size: 14px; text-transform: uppercase">
                                    <img src="../img/mail-icon-report.svg" alt=""><span class="d-flex justify-content-center ml-4"
                                                                                        style="">@Localizer["SendEmail"]</span>
                                                                                    </button>
                                                                                </div>
                                                                                <div class="brd-bot-line-reverse col-12 p-0 d-flex flex-column flex-md-row flex-lg-row ">
                                                                                    <div class="col-12 col-md-5 col-lg-5 d-flex flex-column pb-2 px-0 px-lg-3 px-md-3 "
                                                                                         style="color: #232323">
                                                                                        <div class="col-12 d-flex flex-row justify-content-between mb-3 mt-2 px-0 px-lg-3 px-md-3"
                                                                                             style="line-height: 22px; max-height: 22px">
                                                                                            <span class="col-6 p-0 change-color-grey change-weight"
                                                                                                  style="font-size: 14px; color: #797979;">@Model.Seller.Name</span>
                                                                                                <span class="col-6 p-0"
                                                                                                      style="font-family: Open-Sans, sans-serif; font-size: 16px;">@Model.Buyer.Name</span>
                                                                                                </div>
                                                                                                <div class="col-12 d-flex flex-row justify-content-between px-0 px-lg-3 px-md-3"
                                                                                                     style="line-height: 22px; max-height: 22px">
                                                                                                    <span class="col-6 p-0 change-color-grey change-weight"
                                                                                                          style="font-size: 14px; color: #797979;">@Model.Seller.City</span>
                                                                                                        <span class="col-6 p-0"
                                                                                                              style="font-family: Open-Sans, sans-serif;font-size: 16px; ">@Model.Buyer.City</span>
                                                                                                        </div>
                                                                                                    </div>
                                                                                                    <div class="col-12 col-md-6 col-lg-6 d-flex flex-column pb-2 ml-md-5 ml-lg-5 px-0 px-lg-3 px-md-3"
                                                                                                         style="color: #232323">
                                                                                                        <div class="col-12 d-flex flex-row justify-content-between mb-3 mt-2 px-0 px-lg-3 px-md-3"
                                                                                                             style="line-height: 22px; max-height: 22px">
                                                                                                            <span class="col-6 p-0 change-color-grey change-weight"
                                                                                                                  style="font-size: 14px;">@Model.Seller.Country</span>
                                                                                                                <span class="col-6 p-0"
                                                                                                                      style="font-family: Open-Sans, sans-serif; font-size: 16px;">@Model.Buyer.Country</span>
                                                                                                                </div>
                                                                                                                <div class="col-12 d-flex flex-row justify-content-between px-0 px-lg-3 px-md-3"
                                                                                                                     style="line-height: 22px; max-height: 22px">
                                                                                                                    <span class="col-6 p-0 change-color-grey change-weight"
                                                                                                                          style="font-size: 14px;">@Model.Seller.Address1</span>
                                                                                                                        <span class="col-6 p-0"
                                                                                                                              style="font-family: Open-Sans, sans-serif;font-size: 16px; ">@Model.Buyer.Address1</span>
                                                                                                                        </div>
                                                                                                                    </div>
                                                                                                                </div>
                                                                                                            </div>

                                                                                                        </div>
                                                                                                        <div class="row ml-0 mr-0 justify-content-start w-100 align-content-center d-lg-flex d-none d-md-flex d-sm-none mt-5"
                                                                                                             style="height: 40px; font-weight: 500; font-size: 18px; color: #232323; background: #F7F7F7;">
                                                                                                            <div class="col-12 d-flex">
                                                                                                                <div class="col-2" style="cursor: pointer"><span>Код</span></div>
                                                                                                                <div class="col-4" style="cursor: pointer"><span>Назва</span></div>
                                                                                                                <div class="col-2" style="cursor: pointer"><span>Кількість</span></div>
                                                                                                                <div class="col-2" style="cursor: pointer"><span>Вартiсть (@pageOptions.Value.CurrencySymbol)</span></div>
                                                                                                                <div class="col-2" style="cursor: pointer"><span>Сума (@pageOptions.Value.CurrencySymbol)</span></div>

                                                                                                            </div>
                                                                                                        </div>
                                                                                                        @{
                                                                                                            DateTime date = default;
                                                                                                        }
                                                                                                        @foreach (var item in Model.Items)
                                                                                                        {
                                                                                                            <div class="col-12 d-flex flex-column px-0">
                                                                                                                <div class="col-12  d-flex flex-column px-0">
                                                                                                                    @if (date != item.DayComplex.Date)
                                                                                                                    {
                                                                                                                        date = item.DayComplex.Date;
                                                                                                                        <div class="col-12 my-3 px-0 px-lg-3 px-md-3">
                                                                                                                            <span class="px-3"
                                                                                                                                  style="font-weight: 600; font-size: 18px; line-height: 21px; color: #232323">@System.Globalization.CultureInfo.CurrentUICulture.DateTimeFormat.GetDayName(date.DayOfWeek)  @date.Day</span>
                                                                                                                            </div>
                                                                                                                        }
                                                                                                                    @if (!item.DayComplex.Enabled)
                                                                                                                    {
                                                                                                                        <div class="col-12 px-0 order-active order-active__no-order" style="max-height: 51px">
                                                                                                                            <div class="col-12 d-flex align-items-center px-0 px-lg-3 px-md-3"
                                                                                                                                 style="height: 51px">
                                                                                                                                <span class="px-3"
                                                                                                                                      style="font-family: Open-Sans, sans-serif; font-size: 16px; color: #232323;">Немає замовлень</span>
                                                                                                                            </div>
                                                                                                                        </div>
                                                                                                                    }
                                                                                                                    else if (item.DayComplex.Enabled)
                                                                                                                    {
                                                                                                                        <div class="col-12 px-0 mb-2">
                                                                                                                            <div class="col-12 d-flex align-items-center px-0 px-lg-3 px-md-3">

                                                                                                                                <div class="col-12 d-flex px-0 flex-md-row flex-lg-row flex-column"
                                                                                                                                     style="font-size: 18px">
                                                                                                                                    <div class=" col-md-2 col-lg-2 col-12 flex-row d-flex my-1"
                                                                                                                                         style=" font-family: Open-Sans, sans-serif">
                                                                                                                                        <span class="col-6 p-0 d-md-none d-lg-none d-inline"
                                                                                                                                              style="font-size: 14px; font-weight: bold">Код</span>
                                                                                                                                        <span>@item.Code</span>
                                                                                                                                    </div>
                                                                                                                                    <div class=" col-md-4 col-lg-4 col-12 flex-row d-flex my-1">
                                                                                                                                        <span class="col-6 p-0 d-md-none d-lg-none d-inline"
                                                                                                                                              style="font-size: 14px; font-weight: bold">Назва</span>
                                                                                                                                        <span>@item.Name</span>
                                                                                                                                    </div>
                                                                                                                                    <div class=" col-md-2 col-lg-2 col-12 flex-row d-flex my-1">
                                                                                                                                        <span class="col-6 p-0 d-md-none d-lg-none d-inline"
                                                                                                                                              style="font-size: 14px; font-weight: bold">Кількість</span>
                                                                                                                                        <span style=" font-family: Open-Sans, sans-serif"
                                                                                                                                              id="order-amount">@Html.DisplayFor(model => item.Quantity)</span>
                                                                                                                                        </div>
                                                                                                                                        <div class="col-md-2 col-lg-2 col-12 flex-row d-flex my-1">
                                                                                                                                            <span class="col-6 p-0 d-md-none d-lg-none d-inline"
                                                                                                                                                  style="font-size: 14px; font-weight: bold">Вартiсть (@pageOptions.Value.CurrencySymbol)</span>
                                                                                                                                                <span style=" font-family: Open-Sans, sans-serif"
                                                                                                                                                      id="order-price"> @item.Price.ToString("0.00")</span>
                                                                                                                                                </div>
                                                                                                                                                <div class="col-md-2 col-lg-2 col-12 flex-row d-flex my-1 d-flex justify-content-lg-end justify-content-md-end">
                                                                                                                                                    <span class="col-6 p-0 d-md-none d-lg-none d-inline"
                                                                                                                                                          style="font-size: 14px; font-weight: bold">Сума (@pageOptions.Value.CurrencySymbol)</span>
                                                                                                                                                        <span style=" font-family: Open-Sans, sans-serif" class=""
                                                                                                                                                              id="total-order-price">@item.Amount.ToString("0.00")</span>
                                                                                                                                                        </div>

                                                                                                                                                    </div>
                                                                                                                                                </div>
                                                                                                                                            </div>
                                                                                                                                        }
                                                                                                                    @if (item.DayComplex != null && item.DayComplex.ComplexDishes != null && item.DayComplex.ComplexDishes.Count() > 0)
                                                                                                                    {


                                                                                                                        @foreach (var dish in item.DayComplex.ComplexDishes)
                                                                                                                        {
                                                                                                                            <div class="col-12 px-0 mb-2">
                                                                                                                                <div class="col-12 d-flex align-items-center px-0 px-lg-3 px-md-3">

                                                                                                                                    <div class="col-12 d-flex px-0 flex-md-row flex-lg-row flex-column"
                                                                                                                                         style="font-size: 18px">
                                                                                                                                        <div class=" col-md-2 col-lg-2 col-12 flex-row d-flex my-1"
                                                                                                                                             style=" font-family: Open-Sans, sans-serif">
                                                                                                                                            <span class="col-6 p-0 d-md-none d-lg-none d-inline"
                                                                                                                                                  style="font-size: 14px; font-weight: bold">Код</span>
                                                                                                                                            <span> <img src="@Url.BuildPictureUrl(dish.PictureId)" style="width:50px;height:50px;" /></span>
                                                                                                                                        </div>
                                                                                                                                        <div class=" col-md-4 col-lg-4 col-12 flex-row d-flex my-1">
                                                                                                                                            <span class="col-6 p-0 d-md-none d-lg-none d-inline"
                                                                                                                                                  style="font-size: 14px; font-weight: bold">Назва</span>
                                                                                                                                            <span>@Html.DisplayFor(modelItem => dish.DishName)</span>
                                                                                                                                        </div>
                                                                                                                                        <div class=" col-md-2 col-lg-2 col-12 flex-row d-flex my-1">
                                                                                                                                            <span class="col-6 p-0 d-md-none d-lg-none d-inline"
                                                                                                                                                  style="font-size: 14px; font-weight: bold">Кількість</span>
                                                                                                                                            <span style=" font-family: Open-Sans, sans-serif"
                                                                                                                                                  id="order-amount"> @Html.DisplayFor(modelItem => dish.DishQuantity, new { htmlAttributes = new { datafield = "Quantity" } })</span>
                                                                                                                                            </div>
                                                                                                                                            <div class="col-md-2 col-lg-2 col-12 flex-row d-flex my-1">
                                                                                                                                                <span class="col-6 p-0 d-md-none d-lg-none d-inline"
                                                                                                                                                      style="font-size: 14px; font-weight: bold">Вартiсть (@pageOptions.Value.CurrencySymbol)</span>
                                                                                                                                                    <span style=" font-family: Open-Sans, sans-serif"
                                                                                                                                                          id="order-price"> </span>
                                                                                                                                                </div>
                                                                                                                                                <div class="col-md-2 col-lg-2 col-12 flex-row d-flex my-1 d-flex justify-content-lg-end justify-content-md-end">
                                                                                                                                                    <span class="col-6 p-0 d-md-none d-lg-none d-inline"
                                                                                                                                                          style="font-size: 14px; font-weight: bold">Сума (@pageOptions.Value.CurrencySymbol)</span>
                                                                                                                                                        <span style=" font-family: Open-Sans, sans-serif" class=""
                                                                                                                                                              id="total-order-price"></span>
                                                                                                                                                    </div>

                                                                                                                                                </div>
                                                                                                                                            </div>
                                                                                                                                        </div>

                                                                                                                                    }
                                                                                                                    }
                                                                                                                    @if (item == Model.Items.LastOrDefault())
                                                                                                                    {
                                                                                                                        <div class="col-12 px-0 order-active" style="max-height: 51px">
                                                                                                                            <div class="col-12 d-flex align-items-center" style="height: 51px">
                                                                                                                                <div class="col-12 d-flex px-0" style="font-size: 18px">
                                                                                                                                    <div class="col-2 d-none d-lg-inline d-md-inline"></div>
                                                                                                                                    <div class="col-4  d-none d-lg-inline d-md-inline"></div>
                                                                                                                                    <div class=" col-md-4 col-lg-4 col-6 px-0 px-lg-3 px-md-3"
                                                                                                                                         style="cursor: pointer"><span>Загальна сума:</span></div>
                                                                                                                                    <div class=" col-md-2 col-lg-2 col-6 px-0 px-lg-3 px-md-3"
                                                                                                                                         style="cursor: pointer; font-family: Open-Sans, sans-serif">
                                                                                                                                        <span class="d-flex justify-content-lg-end justify-content-md-end">@Model.Items.Sum(i => i.Amount).ToString("0.00") (@pageOptions.Value.CurrencySymbol)</span>
                                                                                                                                    </div>

                                                                                                                                </div>
                                                                                                                            </div>
                                                                                                                        </div>
                                                                                                                    }
                                                                                                                </div>
                                                                                                            </div>
                                                                                                        }


                                                                                                    </div>
                                                                                                    <div class="col-12 d-flex justify-content-lg-end justify-content-md-end">
                                                                                                        <div class="col-12 col-md-6 col-lg-6 d-flex px-0 flex-lg-row flex-md-row flex-column">
                                                                                                            <div class="col-6 px-0 px-lg-3 px-md-3 mb-3" style="font-weight: 500; font-size: 18px;">
                                                                                                                Директор
                                                                                                            </div>
                                                                                                            <div class="col-6 px-0 px-lg-3 px-md-3">
                                                                                                                <img src="@Url.BuildPictureUrl(Model.Seller.StampPictureId)" alt="" style="width: inherit">
                                                                                                            </div>
                                                                                                        </div>
                                                                                                    </div>


        </div>
                                                                                            </body>

</html>
}
else
{
<html>
<head>
    <style>
        .invoice-box {
            max-width: 800px;
            margin: auto;
            padding: 30px;
            border: 1px solid #eee;
            box-shadow: 0 0 10px rgba(0, 0, 0, .15);
            font-size: 16px;
            line-height: 24px;
            font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
            color: #555;
        }

            .invoice-box table {
                width: 100%;
                line-height: inherit;
                text-align: left;
            }

                .invoice-box table td {
                    padding: 5px;
                    vertical-align: top;
                }

                .invoice-box table tr td:nth-child(3) {
                    text-align: right;
                }

                .invoice-box table tr.top table td {
                    padding-bottom: 20px;
                }

                    .invoice-box table tr.top table td.title {
                        font-size: 45px;
                        line-height: 45px;
                        color: #333;
                    }

                .invoice-box table tr.information table td {
                    padding-bottom: 40px;
                }

                .invoice-box table tr.heading td {
                    background: #eee;
                    border-bottom: 1px solid #ddd;
                    font-weight: bold;
                }

                .invoice-box table tr.details td {
                    padding-bottom: 20px;
                }

                .invoice-box table tr.item td {
                    border-bottom: 1px solid #eee;
                }

                .invoice-box table tr.item.last td {
                    border-bottom: none;
                }

                .invoice-box table tr.total td:nth-child(5) {
                    border-top: 2px solid #eee;
                    font-weight: bold;
                }

        .complex-order {
            background-color: #f5f5f5;
        }

        .total-tab {
            background: #6cbf6c;
        }
        .warning {
            background-color: red;
            color: white;
        }
        .day {
            background-color: #ebf29c;
        }

        @@media only screen and (max-width: 600px) {
            .invoice-box table tr.top table td {
                width: 100%;
                display: block;
                text-align: center;
            }

            .invoice-box table tr.information table td {
                width: 100%;
                display: block;
                text-align: center;
            }

            .complex-order {
                background-color: #f5f5f5;
            }
        }
    </style>
</head>
<body>
    <div class="invoice-box">
        <table cellpadding="0" cellspacing="0">
            <tr class="top">
                <td colspan="2">
                    <table>
                        <tr>
                            <td class="title">
                                @*<img src="@Model.Seller.UrlPicture" style="width:100%; max-width:300px;" />*@
                                <img src="@Url.BuildPictureUrl(Model.Seller.PictureId)" style="width:100%; max-width:300px;" />
                            </td>
                            <td>
                                Рахунок: @Model.Number
                                <br> Дата: @DateTime.Now.ToShortDateString()

                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr class="information ">
                <td colspan="2 ">
                    <table>
                        <tr>
                            <td>
                                @Model.Seller.Name<br>
                                @Model.Seller.City<br>
                                @Model.Seller.Country<br>
                                @Model.Seller.Address1
                            </td>
                            <td></td>
                            <td></td>
                            <td>
                                @Model.Buyer.Name<br>
                                @Model.Buyer.City<br>
                                @Model.Buyer.Country<br>
                                @Model.Buyer.Address1
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr class="heading ">
                <td>
                    Код
                </td>
                <td>
                    Назва
                </td>
                <td>
                    Кiлькiсть
                </td>
                <td>
                    Вартiсть (@pageOptions.Value.CurrencySymbol)
                </td>
                <td>
                    Сума (@pageOptions.Value.CurrencySymbol)
                </td>
            </tr>
            @{
                DateTime date = default;
            }
            @foreach (var item in Model.Items)
            {

                @if (date != item.DayComplex.Date)
                {
                    date = item.DayComplex.Date;
        <tr>
            <td class="day">
                @System.Globalization.CultureInfo.CurrentUICulture.DateTimeFormat.GetDayName(date.DayOfWeek)

                @date.Day
            </td>
            <td class="day"></td>
            <td class="day"></td>
            <td class="day"></td>
            <td class="day"></td>
        </tr>
                }
                @if (item.DayComplex.Enabled)
                {
                    <tr class="complex-order">
                        <td>
                            @item.Code
                        </td>
                        <td>
                            @item.Name
                        </td>
                        <td>
                            @Html.DisplayFor(model => item.Quantity)

                        </td>
                        <td>
                            @item.Price.ToString("0.00")
                        </td>
                        <td>
                            @item.Amount.ToString("0.00")

                        </td>

                    </tr>
                }
                    @*complex info start*@

                    @if (!item.DayComplex.Enabled)
                    {
                        <tr class="warning">
                            <td>
                               @Localizer["NoOrders"]
                            </td>
                            
                        </tr>
                    }
                    else if (item.DayComplex != null && item.DayComplex.ComplexDishes != null && item.DayComplex.ComplexDishes.Count() > 0)
                    {


                        @foreach (var dish in item.DayComplex.ComplexDishes)
                        {

                            <tr>

                                @*<div class="row ">*@
                                @*<div class="col">
                            @(dish.DishCourse+1)
                            </div>*@

                                <td>

                                    @*<img src="@Url.Action("GetPicture", "Pictures", new { id = dish.PictureId, width = 50, height = 50 })" style="width:50px;height:50px;" />*@
                                    <img src="@Url.BuildPictureUrl(dish.PictureId)" style="width:50px;height:50px;" />

                                </td>
                                <td>
                                    @*<input data-val="true" name="UserDayDish[@com].DishId" type="hidden" value="@dish.DishId">
                                <input data-val="true" name="UserDayDish[@com].ComplexId" type="hidden" value="@item.ComplexId">
                                <input data-val="true" name="UserDayDish[@com].Date" type="hidden" value="@item.Date">
                                <input data-val="true" name="UserDayDish[@com].IsComplex" type="hidden" value="True">*@
                                    @*@Html.HiddenFor(modelItem => dish.DishId, new { datafield = "DishID" })*@
                                    @*@(dish.DishCourse + 1)*@
                                    @Html.DisplayFor(modelItem => dish.DishName)

                                </td>

                                @*<td>
                                @String.Format("{0:f0}", dish.DishReadyWeight) @Localizer["DishReadyWeightMeasureUnit"]

                            </td>*@
                                @*<td>
                                @Html.DisplayFor(modelItem => dish.DishDescription)
                                <p />
                                @Html.DisplayFor(modelItem => dish.DishIngredients)
                            </td>*@
                                @*<div class="col col-lg-4 col-md-4 col-4 small">


                            </div>*@

                                <td>


                                    @Html.DisplayFor(modelItem => dish.DishQuantity, new { htmlAttributes = new { datafield = "Quantity" } })


                                </td>




                            </tr>
                        }

                    }



                    @*complex info end*@

            }

                <tr class="total-tab ">
                    <td></td>
                    <td> Загальна сума: </td>
                    <td>@Model.Items.Sum(i => i.Amount).ToString("0.00") (@pageOptions.Value.CurrencySymbol)</td>
                    <td></td>
                    <td>
                    </td>
                </tr>
                <tr class="sign ">
                    <td>Директор</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>
                        @*<img src="@Model.Seller.UrlStampPicture" style="width:100%; max-width:300px;" />*@
                        <img src="@Url.BuildPictureUrl(Model.Seller.StampPictureId)" style="width:100%; max-width:300px;" />
                    </td>
                </tr>
            </table>
    </div>

</body>
</html>
                }
