
@{
    Layout = null;
}

@model CateringPro.Models.InvoiceModel
@using CateringPro.Core
@inject Microsoft.Extensions.Options.IOptions<UIOption> pageOptions
@inject CateringPro.Core.SharedViewLocalizer Localizer
@inject CateringPro.Helpers.URLHelperContextLess Url
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Кабачок - </title>
</head>
<body>
    <style>
        body {
            margin: 0 auto;
        }

        table {
            width: 100%;
            margin-bottom: 1rem;
            color: #212529;
            font-family: Arial, sans-serif;
            border-collapse: collapse;
            box-sizing: border-box;
        }

            table td {
                vertical-align: center !important;
            }

        tr td {
            padding: 0 15px;
        }

        tr th {
            padding: 6px 15px;
        }
    </style>
    <table style="max-width: 900px !important; padding: 0 20px" align="center">
        <thead style="">
            <tr>
                <th colspan="5" align="center">
                    <a href="../index.html">
                        <img src="../img/logo.png" alt="">
                    </a>
                </th>
            </tr>
            <tr>
                <th colspan="5" align="center" style="font-weight: 600; font-size: 20px">
                    Тижневий звіт
                </th>
            </tr>

        </thead>
        <tbody>
            <tr style="height: 48px; border-top: 1px solid #eaeaea; border-bottom: 1px solid #eaeaea;">
                <td colspan="2"></td>
                <td style="font-weight: 600; margin: 20px 0 !important;">Рахунок:</td>
                <td colspan="2"> @Model.Number</td>
            </tr>
            <tr style="height: 48px; border-top: 1px solid #eaeaea; border-bottom: 1px solid #eaeaea;">
                <td colspan="2"></td>
                <td style="font-weight: 600; margin: 20px 0 !important;">Дата:</td>
                <td colspan="2"> >@DateTime.Now.ToShortDateString()</td>
            </tr>
            <tr style="height: 48px; border-top: 1px solid #eaeaea; border-bottom: 1px solid #eaeaea;">
                <td style="font-weight: 600; margin: 20px 0 !important;">@Model.Seller.Name</td>
                <td> @Model.Buyer.Name</td>
                <td style="font-weight: 600; margin: 20px 0 !important;">@Model.Seller.Country</td>
                <td colspan="2"> @Model.Buyer.Country</td>
            </tr>
            <tr style="height: 48px; border-top: 1px solid #eaeaea; border-bottom: 1px solid #eaeaea;">
                <td style="font-weight: 600; margin: 20px 0 !important;">@Model.Seller.Address1</td>
                <td> Админ</td>
                <td style="font-weight: 600; margin: 20px 0 !important;">@Model.Seller.City</td>
                <td colspan="2"> @Model.Buyer.Address1</td>
            </tr>
            <tr>
                <td colspan="5" style="height: 30px;"></td>
            </tr>
        </tbody>
        <tbody>
            <tr style="font-size: 18px; margin: 0 20px; background-color: #F7F7F7; height: 60px;">
                <th scope="col" style="width: 15%; padding: 0 15px" align="left">Код</th>
                <th scope="col" style="width: 36%; padding: 0 15px" align="left">Назва</th>
                <th scope="col" style="width: 17%; padding: 0 15px" align="left">Кількість</th>
                <th scope="col" style="width: 17%; padding: 0 15px" align="left">Вартiсть (₴)</th>
                <th scope="col" style="width: 15%; padding: 0 15px" align="left">Сума (₴)</th>
            </tr>
        </tbody>
        @{
     DateTime date = default;
        }
        @foreach (var item in Model.Items)
        {
    <tbody>

        @if (date != item.DayComplex.Date)
           {
           date = item.DayComplex.Date;
        <tr>
            <td colspan="5" style="font-weight: 600; padding: 0 15px; height: 48px">@System.Globalization.CultureInfo.CurrentUICulture.DateTimeFormat.GetDayName(date.DayOfWeek)  @date.Day</td>
        </tr>

        }
        @if (!item.DayComplex.Enabled)
           {
        <tr>
            <td colspan="5"
                style="background-color: #FFF2F2; border-left: 4px solid #FF6666; padding: 0 15px; height: 48px">
                Немає
                замовлень
            </td>
        </tr>
        }
          else if (item.DayComplex.Enabled)
           {
        <tr style="font-size: 16px; font-weight: normal; border-bottom: 1px solid #eaeaea; height: 48px;">
            <th scope="row" style="font-weight: normal; font-family: Open-Sans, sans-serif">@item.Code</th>
            <td>@item.Name</td>
            <td style="font-family: Open-Sans, sans-serif">@Html.DisplayFor(model => item.Quantity)</td>
            <td style="font-family: Open-Sans, sans-serif">@item.Price.ToString("0.00")</td>
            <td style="font-family: Open-Sans, sans-serif">@item.Amount.ToString("0.00")</td>
        </tr>
        }
        @if (item.DayComplex != null && item.DayComplex.ComplexDishes != null && item.DayComplex.ComplexDishes.Count() > 0)
         {
        @foreach (var dish in item.DayComplex.ComplexDishes)
        {
        <tr style="font-size: 16px; font-weight: normal; border-bottom: none">
            <th scope="row" style="font-weight: normal; font-family: Open-Sans, sans-serif">
                <img src="@Url.BuildPictureUrl(dish.PictureId)" alt="" style="width: 60%">
            </th>
            <td style="vertical-align: center !important;">@Html.DisplayFor(modelItem => dish.DishName)</td>
            <td colspan="3" style="font-family: Open-Sans, sans-serif">@Html.DisplayFor(modelItem => dish.DishQuantity, new { htmlAttributes = new { datafield = "Quantity" } })</td>

        </tr>
        }
        }

    </tbody>

            }
        
    <tbody>
        @{
            var total = Model.Items.Sum(i => i.Amount);
            var discount = Model.Items.Sum(i => i.Discount);
            total -= discount;
        }
        <tr style="background-color: #F1FFF1; border-left: 4px solid #36C233; padding: 0 15px; height: 48px; font-weight: 600;">
            <td colspan="2"></td>
            <td colspan="2"> Загальна сума:</td>
            <td>@*@Model.Items.Sum(i => i.Amount).ToString("0.00")*@ @total.ToString("0.00") (@pageOptions.Value.CurrencySymbol)</td>
        </tr>
        <tr style="background-color: #F1FFF1; border-left: 4px solid #36C233; padding: 0 15px; height: 48px; font-weight: 600;">
            <td colspan="2"></td>
            <td colspan="2"> Знижка:</td>
            <td>@discount.ToString("0.00") (@pageOptions.Value.CurrencySymbol)</td>
        </tr>
        <tr style="margin-top: 30px;">
            <td colspan="2"></td>
            <td style="font-weight: 600; color: #797979">Директор:</td>
            <td colspan="2"><img src="@Url.BuildPictureUrl(Model.Seller.StampPictureId)" alt="" style="width: inherit; margin: 15px 0;"></td>
        </tr>
    </tbody>
    </table>

</body>
</html>
