
@{
    Layout = null;
}

@model CateringPro.Models.InvoiceModel

<html>
<head>
    <link href="~/css/invoice.css" type="text/css" rel="stylesheet" />
</head>
<body>
    <div class="invoice-box">
        <table cellpadding="0" cellspacing="0">
            <tr class="top">
                <td colspan="2">
                    <table>
                        <tr>
                            <td class="title">
                                <img src="@Url.Action("GetPicture","Pictures",new { id=@Model.Seller.PictureId,width=200,height=100})" style="width:100%; max-width:300px;" />
                            </td>
                            <td>
                                Invoice #: @Model.Number
                                <br> Created: @DateTime.Now.ToShortDateString()
                                <br> Due: @DateTime.Now.AddDays(20).ToShortDateString()
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr class="information ">
                <td colspan="2 ">
                    <table>
                        <tr>
                            <td>
                                @Model.Seller.Name<br>
                                @Model.Seller.City<br>
                                @Model.Seller.Country<br>
                                @Model.Seller.Address1
                            </td>
                            <td></td>
                            <td></td>
                            <td>
                                @Model.Buyer.Name<br>
                                @Model.Buyer.City<br>
                                @Model.Buyer.Country<br>
                                @Model.Buyer.Address1
                            </td>
                        </tr>
            </table>
        </td>
    </tr>
            <tr class="heading ">
                <td>
                    #
                </td>
                <td>
                    Название
                </td>
                <td>
                    Кол-во
                </td>
                <td>
                    Цена
                </td>
                <td>
                    Сумма
                </td>
            </tr>

    @foreach (var item in Model.Items)
    {
        <tr class="item">
            <td>
                @item.Code
            </td>
            <td>
                @item.Name
            </td>
            <td>
                @Html.DisplayFor(model => item.Quantity)
              
            </td>
            <td>
               @item.Price.ToString("0.00")
            </td>
            <td>
                @item.Amount.ToString("0.00")

            </td>
        </tr>
    }

        <tr class="total ">
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>
                Итого: @Model.Items.Sum(i => i.Amount).ToString("0.00")
            </td>
        </tr>
</table>
</div>
</body>
</html>