@model CateringPro.Models.CompanyMenuModel
@{
    Layout = null;
}



<html>
<head>
    <link href="~/css/invoice.css" type="text/css" rel="stylesheet" />
</head>
<body>
    <div class="invoice-box">
        <table cellpadding="0" cellspacing="0">
            <tr class="top">
                <td colspan="2">
                    <table>
                        <tr>
                            <td class="title">
                                <img src="@Url.Action("GetPicture","Pictures",new { id=@Model.Company.PictureId,width=200,height=100})" style="width:100%; max-width:300px;" />
                            </td>
                            <td>

                                Меню
                                <br /> Дата: @DateTime.Now.ToShortDateString()

                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr class="information ">
                <td colspan="2 ">
                    <table>
                        <tr>
                            <td>
                            </td>
                            <td></td>
                            <td></td>
                            <td>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr class="heading ">
                <td>
                    Код
                </td>
                <td>
                    Назва
                </td>
                <td>
                    Вартiсть
                </td>

            </tr>

            @foreach (var day in Model.Days)
            {
                <tr class="item daydate">
                    <td colspan="5">
                        @day.DayDate.ToShortDateString()
                    </td>

                </tr>
                if (day.ComplexItems != null)
                {
                    <tr class="item ">
                        <td colspan="4">
                            Complexes
                        </td>

                    </tr>
                    @foreach (var complexitem in day.ComplexItems)
                    {
                        <tr class="item">
                            <td>
                                @Html.DisplayFor(model => complexitem.Name)
                            </td>
                            <td>
                            </td>
                            <td>
                                @Html.DisplayFor(model => complexitem.Price)
                            </td>
                        </tr>
                    }
                }
                if (day.Items != null)
                {
                    @foreach (var item in day.Items)
                    {
                        <tr class="item">
                            <td>
                                @Html.DisplayFor(model => item.Code)
                            </td>
                            <td>
                                @Html.DisplayFor(model => item.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(model => item.Price)
                            </td>
                        </tr>
                    }
                }
            }

            <tr class="total ">
                <td></td>
                <td></td>

                <td>
                </td>
            </tr>
        </table>
    </div>
</body>
</html>