@model CateringPro.Models.DayProductioDayViewModel
@inject CateringPro.Core.SharedViewLocalizer Localizer
@{
    Layout = null;
    List<DayIngredientsDetails> ingLs = new List<DayIngredientsDetails>();
    string code = "";
}



<html>
<head>
    <link href="~/css/invoice.css" type="text/css" rel="stylesheet" />
</head>
<body>
    <div class="invoice-box">
        <table cellpadding="0" cellspacing="0">
            <tr class="top">
                <td colspan="2">
                    <table>
                        <tr>
                            <td class="title">
                                <img src="@Url.Action("GetPicture","Pictures",new { id=@Model.Company.PictureId,width=200,height=100})" style="width:100%; max-width:300px;" />
                            </td>
                            <td>

                                @Localizer["CompanyDayProduction"]
                                <br /> @Localizer["Doc Date"]: @DateTime.Now.ToShortDateString()

                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr class="information ">
                <td colspan="2 ">
                    <table>
                        <tr>
                            <td>
                            </td>
                            <td></td>
                            <td></td>
                            @*<td>
                        </td>*@
                        </tr>
                    </table>
                </td>
            </tr>
            <tr class="heading ">
                <td>
                    @Localizer["Category Code"]
                </td>
                <td>
                    @Localizer["Complex Name"]
                </td>
                <td>
                    @Localizer["Quantity"]
                </td>
                @*<td>
                Інгрідієнти
            </td>*@
            </tr>

            @foreach (var day in Model.Days)
            {
                <tr class="item daydate">
                    <td colspan="3">
                        @day.DayDate.ToShortDateString()
                    </td>

                </tr>

                @foreach (var item in day.Items)
                {
                    if (code != item.ComplexName)
                    {
                        <tr class="item daydate">
                            <td colspan="3">
                               @item.ComplexName
                            </td>

                        </tr>
                        code = item.ComplexName;
                    }
                    <tr class=" heading">
                        <td>
                            @Html.DisplayFor(model => item.DishCode)
                        </td>
                        <td>
                            @Html.DisplayFor(model => item.DishName)
                        </td>
                        <td>
                            @Html.DisplayFor(model => item.Quantity)
                        </td>

                    </tr>

                    @foreach (var ing in item.Ingridients)
                    {
                        <tr>
                            <td></td>
                            <td> @Html.DisplayFor(model => ing.IngredientName)</td>
                            @{ var res = ing.Quantity * item.Quantity;
                                if (ingLs.Exists(i => i.IngredientId == ing.IngredientId))
                                {
                                    var index = ingLs.FindIndex(c => c.IngredientId == ing.IngredientId);
                                    ingLs[index].Quantity += res;
                                }
                                else
                                {
                                    ingLs.Add(new DayIngredientsDetails(ing.IngredientId, ing.IngredientName, res, ing.MeasureUnit));
                                }
                            }
                            <td>
                                @Html.DisplayFor(model => res) @Html.DisplayFor(model => ing.MeasureUnit)

                            </td>
                            <td></td>

                        </tr>
                    }

                }
            }

            <tr class="total ">
                <td></td>
                <td></td>

                <td>
                </td>
            </tr>
        </table>
        <br />
        <h1>@Localizer["Ingredient"]</h1>
        <table>
            <tr class="heading ">
                <td>
                    @Localizer["Ingredient Name"]
                </td>
                <td>
                    @Localizer["Quantity"]
                </td>
            </tr>
            @foreach (var ing in ingLs)
            {
                <tr>
                    <td> @ing.IngredientName</td>
                    <td> @ing.Quantity @ing.MeasureUnit</td>
                </tr>
            }
        </table>
    </div>
</body>
</html>