@model IEnumerable<CateringPro.Models.DayDishViewModel>

@{
    ViewData["Title"] = "EditDay";
}
@{
    DateTime daydate = DateTime.Now;
}

<table class="table" id="tabledayedit">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Enabled)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DishName)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <div class="checkbox">

                        @if (item.Enabled)
                        {
                            <input type="checkbox" checked="checked" cp-name="dayselect" />
                        }
                        else
                        {
                            <input type="checkbox" cp-name="dayselect" />
                        }
                        @Html.HiddenFor(modelItem => item.DishId)
                        @Html.HiddenFor(modelItem => item.Date)
                    </div>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DishName)
                </td>

            </tr>
        }
    </tbody>
</table>



