@model IEnumerable<CateringPro.Models.UserDayDishViewModelPerGategory>

@using CateringPro.Core
@inject Microsoft.Extensions.Options.IOptions<UIOption> pageOptions
@inject CateringPro.Core.SharedViewLocalizer Localizer
@{
    ViewData["Title"] = "EditDay";
}
@{
    DateTime daydate = DateTime.Now;


}
@* bootstrap0 grid system *@

<div class="userdaydish">
    @foreach (var itemcategory in Model)
    {
        if (itemcategory.UserDayDishes.Count() == 0)
        {
            continue;
        }

        <div class="container daydish-category-content border rounded" data-form="userday">

            <div class="row">
                <div class="col col-lg-10 col-md-10 col-lg-offset-1 col-md-offset-1">
                    @Html.DisplayFor(modelItem => itemcategory.CategoryName)
                </div>
            </div>


            @foreach (var item in itemcategory.UserDayDishes)
            {
                <div class="row row-daydish" data-form="userdaydish">
                    <div class="col col-md-2">
                        <img src="@Url.Action("GetPicture","Pictures",new { id=item.PictureId,width=30,height=30})" style="width:30px;height:30px;" />


                    </div>
                    <div class="col col-lg-2 col-md-2">

                        @Html.HiddenFor(modelItem => item.DishId, new { datafield = "DishID" })
                        @Html.HiddenFor(modelItem => item.Price, new { datafield = "Price" })
                        @Html.HiddenFor(modelItem => item.Date, new { datafield = "Date" })
                        @Html.DisplayFor(modelItem => item.DishName)
                    </div>
                    <div class="col col-lg-1 col-md-1">
                        @string.Format("{0:0.00} {1}", item.ReadyWeight, Localizer["gr."])
                        <p />
                        @string.Format("{0} {1}", item.KKal, Localizer["KKal"])
                    </div>
                    <div class="col col-lg-4 col-md-4 small">
                        @Html.DisplayFor(modelItem => item.DishDescription)
                        <p />
                        @Html.DisplayFor(modelItem => item.DishIngredientds)
                    </div>
                    <div class="col col-lg-1 col-md-1">
                        @string.Format("{0:0.00} {1}", item.Price, pageOptions.Value.CurrencySymbol)

                    </div>
                    <div class="col col-lg-2 col-md-2">
                        @Html.EditorFor(modelItem => item.Quantity, new { htmlAttributes = new { datafield = "Quantity", @class = "numberspinner" } })
                    </div>

                </div>
            }
        </div>
    }

    <div class="container  border rounded daydish-footer">
        <div class="row total-order-row">
            <div class="col col-lg-2 col-md-2">
            </div>

            <div class="col col-lg-6 col-md-2">
                <span class="total">Total </span>
            </div>
            <div class="col col-lg-2 col-md-6">
                <span class="total-quantity">@Model.Sum(it => it.TotalQuantity)  </span>
            </div>

            <div class="col col-lg-2 col-md-2">
                <span class="total-amount">@string.Format("{0:0.00}", @Model.Sum(it => it.TotalAmount))</span>
                <span>@pageOptions.Value.CurrencySymbol</span>


            </div>

        </div>
        <div class="row daydish-footer-cmd">
            <div class="col col-lg-1 col-md-1">
            </div>
            <div class="col col-lg-4 col-md-4">
                <button type="button" button class="btn btn-primary" data-action="saveuserday" data-action="saveuserday">@Localizer["MyOrdersSave"]</button>

                <button type="button" button class="btn btn-primary" data-action="payuserday" >@Localizer["MyOrdersPayment"]</button>
            </div>
        </div>
    </div>


</div>
