@model IEnumerable<CateringPro.Models.UserDayDishViewModelPerGategory>

@using CateringPro.Core
@inject Microsoft.Extensions.Options.IOptions<UIOption> pageOptions
@inject CateringPro.Core.SharedViewLocalizer Localizer
@{
    ViewData["Title"] = "EditDay";
    bool allowEdit = (bool)ViewData["AllowEdit"];
    int dishesavailable = Model.Sum(m => m.UserDayDishes.Count());
}
@{
    DateTime daydate = DateTime.Now;
    if (dishesavailable > 0)
    {
        daydate = Model.SelectMany(m => m.UserDayDishes).Max(m => m.Date);
    }
    daydate = daydate.ResetHMS();
}
<div class="headorders pt20 pb20">
    <h2>@Localizer["Dishes"]</h2>
</div>

@if (dishesavailable > 0)
{
    @foreach (var itemcategory in Model)
    {
        if (itemcategory.UserDayDishes.Count() == 0)
        {
            continue;
        }


        <div class="row">
            <div class="col col-lg-10 col-md-10 col-lg-offset-1 col-md-offset-1">
                @Html.DisplayFor(modelItem => itemcategory.CategoryName)
            </div>
        </div>

        <div class="row">
            @foreach (var item in itemcategory.UserDayDishes)
            {
                <div class="col-lg-4 col-md-6">
                    <div class="line-content pt30">
                        <img src="@Url.Action("GetPicture", "Pictures", new { id = item.PictureId})" alt="">
                        <div class="line-stic pt30 d-flex">
                            <p>@itemcategory.CategoryName</p>
                            <p class="line-p-sklad" data-toggle="modal" data-target="#line-sklad">@Localizer["Consists"]</p>

                        </div>
                        <div class="line-head d-flex">
                            <h5>@item.DishName</h5>
                        </div>
                        <p>@item.DishDescription</p>
                        <div class=" d-flex justify-content-center">
                            <div class=""><h3><span>@item.Price</span><i class="fas fa-hryvnia"></i></h3></div>
                        </div>
                        <div class="dish-input-content d-flex justify-content-between">
                            
                            <div class="input-line-cart  d-flex justify-content-between">
                                @if (allowEdit)
                                {
                                    <a class="quantity-minus" href="#"><i class="fas fa-minus"></i></a>
                                }
                                <input type="text" class="input-line quantity" name="number" placeholder="0" value="@item.Quantity">
                                @if (allowEdit)
                                {
                                    <a class="quantity-plus" href="#"><i class="fas fa-plus"></i></a>
                                }
                            </div>
                            <div class="">
                                @if (allowEdit)
                                {
                                    <a href="#" class="orderdish button-basic" data-dishid="@item.DishId" data-price="@item.Price" data-daydate="@daydate">@Localizer["MyOrdersSave"]</a>
                                }
                            </div>
                        </div>


                    </div>
                </div>
            }
        </div>
    }
}
@if (false)
{
    <div class="userdaydish">
        @if (dishesavailable > 0)
        {
            @foreach (var itemcategory in Model)
            {
                if (itemcategory.UserDayDishes.Count() == 0)
                {
                    continue;
                }

                <div class="container daydish-category-content border rounded" data-form="userday">

                    <div class="row">
                        <div class="col col-lg-10 col-md-10 col-lg-offset-1 col-md-offset-1">
                            @Html.DisplayFor(modelItem => itemcategory.CategoryName)
                        </div>
                    </div>


                    @foreach (var item in itemcategory.UserDayDishes)
                    {
                        <div class="row row-daydish" data-form="userdaydish">
                            <div class="col col-md-2">
                                <img src="@Url.Action("GetPicture", "Pictures", new { id = item.PictureId, width = 50, height = 50 })" style="width:50px;height:50px;" />


                            </div>
                            <div class="col col-lg-2 col-md-2">

                                @Html.HiddenFor(modelItem => item.DishId, new { datafield = "DishID" })
                                @Html.HiddenFor(modelItem => item.Price, new { datafield = "Price" })
                                @Html.HiddenFor(modelItem => item.Date, new { datafield = "Date" })
                                @Html.DisplayFor(modelItem => item.DishName)
                            </div>
                            <div class="col col-lg-1 col-md-1 small">
                                @string.Format("{0:0.00} {1}", item.ReadyWeight, Localizer["gr."])
                                <p />
                                @string.Format("{0} {1}", item.KKal, Localizer["KKal"])
                            </div>
                            <div class="col col-lg-4 col-md-4 small">
                                @Html.DisplayFor(modelItem => item.DishDescription)
                                <p />
                                @Html.DisplayFor(modelItem => item.DishIngredientds)
                            </div>
                            <div class="col col-lg-1 col-md-1">
                                @string.Format("{0:0.00}{1}", item.Price, pageOptions.Value.CurrencySymbol)

                            </div>
                            <div class="col col-lg-2 col-md-2">
                                @Html.EditorFor(modelItem => item.Quantity, new { htmlAttributes = new { datafield = "Quantity", @class = "numberspinner" } })
                            </div>

                        </div>
                    }
                </div>
            }

            <div class="container  border rounded daydish-footer">
                <div class="row total-order-row">
                    <div class="col col-lg-1 col-md-1 col-1">
                    </div>

                    <div class="col col-lg-6 col-md-6 col-6">
                        <span class="total">@Localizer["Order Total"]</span>
                    </div>
                    <div class="col col-lg-2 col-md-2 col-2">
                        <span class="total-quantity">@Model.Sum(it => it.TotalQuantity)  </span>
                    </div>

                    <div class="col col-lg-3 col-md-3 col-3">
                        <span class="total-amount">@string.Format("{0:0.00}", @Model.Sum(it => it.TotalAmount))</span>
                        <span>@pageOptions.Value.CurrencySymbol</span>


                    </div>

                </div>
                <div class="row daydish-footer-cmd">
                    <div class="col col-lg-1 col-md-1 col-1 col-sm-1">
                    </div>
                    <div class="col col-lg-4 col-md-4 col-4 col-sm-4">
                        @if (allowEdit)
                        {
                            <button type="button" button class="btn btn-primary" data-action="saveuserday" data-action="saveuserday">@Localizer["MyOrdersSave"]</button>
                        }
                    </div>
                    <div class="col col-lg-1 col-md-1 col-1 col-sm-1">
                    </div>
                    <div class="col col-lg-4 col-md-4 col-4 col-sm-4">
                        <button type="button" button class="btn btn-primary" data-action="payuserday">@Localizer["MyOrdersPayment"]</button>
                    </div>
                </div>
            </div>
        }
        else if (allowEdit)
        {
            <h2 class="text-center">@Localizer["NoDishesAtThisDay"]</h2>
        }

    </div>
}
