@model IEnumerable<Address>
@using  CateringPro.Core
@inject CateringPro.Core.SharedViewLocalizer Localizer
@{


    var ModelName = "Address";
    ViewData["Title"] = ModelName;
    QueryModel querymodel = ViewData["QueryModel"] as QueryModel;
    if (querymodel == null)
    {
        querymodel = new QueryModel();
    }
    /*
    void SortField()
    {

        @Html.DisplaySortField(model => model.Name).Display(querymodel)

    }
    void HeadersField()
    {

        @Html.DisplayListHeaderForEx(model => model.Name, new { colnumbers = 2 })
        @Html.DisplayListHeaderForEx(model => model.Code, new { colnumbers = 2 })
        <div class="col-1"></div>
        @Html.DisplayListHeaderForEx(model => model.PhoneNumber, new { colnumbers = 2 })
        @Html.DisplayListHeaderForEx(model => model.Email, new { colnumbers = 3 })

    }

    ViewData["IsIndex"] = true;
   
    ViewData["SourcePage"] = this;
    var sort = Html.DisplaySortField(model => model.Name).Display(querymodel);
    ViewData["SourcePage"] = this;
    DefineTemplateSection("SortField", async () =>
    {
        SortField();
    });
    DefineTemplateSection("HeadersField", async () =>
    {
        HeadersField();
    });
   */
}


    <div class="container-xl container container-md container-sm container-lg">
        <div class="row align-items-center pb-3  ml-xl-0 ml-md-0 ml-sm-0 p-0 ml-0" style="margin-top: 48px">
            <div class="col-7 col-xl-9 col-md-6 col-sm-6 align-content-center mr-md-auto pl-0">
                <p class="h2" style="font-weight: 600">
                    @Localizer["Address"]
                </p>
            </div>
        </div>
        <div class="row pb-3 ml-xl-0 ml-md-0 ml-sm-0 p-lg-0 p-md-0 align-items-center m-0 flex-md-column flex-lg-row flex-column container p-0">

            @Html.DisplaySortField(model => model.Name).Display(querymodel)


            <div class="col-lg-4 col-12 p-0 ">
                <div class="col-12 p-0 justify-content-center w-100" style="display: flex">
                    <form id="search-form" class="form-inline col-12 p-0" style=" display: flex;">
                        <input id="search-val" class="form-control  w-100" type="search" placeholder="@Localizer["MenuSearch"]" aria-label="Search"
                               style="font-size: 16px; color:#797979; height: 48px; background:  url('/img/search-icon.svg') no-repeat; background-position: 95%">
                    </form>
                </div>
            </div>
            <div class="col-lg-4 col-12 p-0 d-none d-md-block">
                <div class="col-12 p-0 justify-content-center" style="height: 48px">
                    <button type="button" id="create-btn"
                            class=" btn btn-xl btn-outline-danger float-lg-right justify-content-center float-md-none font-weight-bold btn-block col-lg-6"
                            onmousemove="this.style.background='#36C233'; this.style.color='#ffffff'"
                            onmouseout="this.style.background='#ffffff'; this.style.color='#36C233'"
                            style="background: #ffffff; border-color: #36C233; outline: none; height: 48px; color: #36C233; display: flex; align-items: center; justify-content: space-evenly; margin: 28px 0 23px; font-size: 14px;">
                        &#65291;@Localizer["Create"]
                    </button>
                </div>
            </div>
        </div>
        <div class="row ml-0 mr-0 justify-content-start w-100 align-content-center d-lg-flex d-none d-md-flex d-sm-none "
             style="height: 40px; font-weight: 500; font-size: 18px; color: #232323; background: #F7F7F7;">
            @Html.DisplayListHeaderForEx(model => model.Name, new { colnumbers = 2 })
            @Html.DisplayListHeaderForEx(model => model.Code,new { colnumbers = 2 })
            <div class="col-1"></div>
            @Html.DisplayListHeaderForEx(model => model.PhoneNumber, new { colnumbers = 2 })
            @Html.DisplayListHeaderForEx(model => model.Email, new { colnumbers = 3 })


            <div class="col-2"></div>

        </div>
        <div id="table-content" data-sortfield="@querymodel.SortField" data-sortorder="@querymodel.SortOrder" data-filter="@querymodel.SearchCriteria" class="row ml-0 mr-0 mt-0 justify-content-center w-100 table-content">

        </div>
    </div>
    <div id="modDialog" class="modal fade">
        <div id="dialogContent" class="modal-dialog"></div>
    </div>




@section Scripts
{
    <script type="text/javascript">

        $(function () {
            setup_listitems({
                href: '@Url.Content("~/Address")',

            });

        })
    </script>
}
