@model CateringPro.Models.IngredientCategories
@inject CateringPro.Core.SharedViewLocalizer Localizer
@{ ViewData["Title"] = "Delete"; }

@{ await Html.RenderPartialAsync("DeleteDialog",new DeleteDialogViewModel() { Id=Model.Id,Name=Model.Name,ModelName= Localizer["IngredientCategories"] });}
@*
    <div class="modal-content delete-content">
        <div class="modal-header">
            <h5 class="modal-title">@Localizer["ConfirmDelete"]</h5>
            <button class="close" data-dismiss="modal" area-hidden="true">
                <span aria-hidden="true">&times;</span>
            </button>

        </div>
        <div>
            <h4>@Localizer["IngredientCategories"]</h4>
            <hr />

            <dl class="dl-horizontal">

                <dt>
                    @Html.DisplayNameFor(model => model.Name)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Name)
                </dd>

            </dl>

            <form asp-action="Delete">
                <div class="form-actions no-color">
                    <input type="hidden" asp-for="Id" />
                    @Html.AntiForgeryToken()
                    <input type="submit" value="Delete" class="btn btn-danger" />
                    <button type="button" button class="btn btn-primary" data-dismiss="modal">@Localizer["Cancel"]</button>
                </div>
            </form>
        </div>
    </div>
*@