@model CateringPro.Models.Complex
@inject CateringPro.Core.SharedViewLocalizer Localizer

@{
    ViewData["Title"] = "Edit";
}
<style>
    form dt {
        float: left;
        display: block;
        width: 30%;
    }

    dd select {
        width: 50%;
    }

    dd textarea {
        width: 100%;
    }
</style>
<div class="modal-content" id="complex" data-id="@Model.Id">
    <div class="modal-header">

        <h5 class="modal-title">@Localizer["Complex"]</h5>
        
        <button class="close" data-dismiss="modal" area-hidden="true">
            <span aria-hidden="true">&times;</span>
        </button>

    </div>
    <div class="modal-body modal-edit-body">
        @if (@Html.ValidationSummary() != null)
        {
        <div id="error" class="col alert-danger">@Html.ValidationSummary()</div>
        
        }
   @*     @Html.ValidationSummary()*@
        <form asp-action="EditModal">
            <dl class="">
                <dd><input type="hidden" asp-for="Id" /></dd>




                <dt>  <label asp-for="Name" class="control-label"></label></dt>
                <dd>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </dd>
                <dt> <label asp-for="Price" class="control-label"></label> </dt>
                <dd>
                    <input asp-for="Price" class="form-control" />
                    <span asp-validation-for="Price" class="text-danger"></span>
                </dd>
                <dt>
                    <label asp-for="CategoriesId" class="control-label"></label>
                </dt>
                <dd>

                    <select asp-for="CategoriesId" class="form-control complex-category" asp-items="ViewBag.CategoriesId"></select>
                    <span asp-validation-for="CategoriesId" class="text-danger"></span>
                    @* <span asp-validation-for="CategoriesId" class="text-danger"></span>*@

                </dd>
                @*<dt> <label asp-for="DishesQuantity" class="control-label"></label> </dt>*@
                <dd> <input asp-for="DishesQuantity" type="hidden" id="quantity" name="DishesQuantity" min="1" max="10" class="form-control" onchange="changeQuantity()" /></dd>
                <!--
            <dt><label asp-for="DishComplex" class="control-label"></label> </dt>
            <dd id="dishContainer" class="dishes-container">
                <div class="dishes-content" id="dish">

                </div>
                <div id="dish-footer">
                    <div id="create-dishline" class="col  create">
                        <span class="fa fa-plus fa-2x" aria-hidden="true"></span>
                        <span>@Localizer["Add"]</span>
                    </div>
                </div>
            </dd>
                -->
            </dl>

            <div class="complex-content container">
                @for (int i = 0; i < Model.DishesQuantity; i++)
                {
                    await Html.RenderPartialAsync("ComplexLineDishes", Model.DishComplex.Where(d => d.DishCourse == i));
                }
                <div class="row" id="dish-footer">
                    <div id="create-dishline" class="col create">
                        <span class="fa fa-plus fa-2x" aria-hidden="true"></span>
                        <span>@Localizer["Add"]</span>
                    </div>
                    <div id="response" class="col"></div>
                </div>
            </div>
        </form>
        <div class="row mt-3">
            <div class="col-sm-3">
                
            </div>
            <div class="col-sm-2">
                @*<button type="button" button class="btn btn-primary" data-save="modal">@Localizer["Save"]</button>*@
                <button id="sendBut" button class="btn btn-primary">@Localizer["Save"]</button>
            </div>
            <div class="col-sm-1">
            </div>
            <div class="col-sm-2">
                <button type="button" button class="btn btn-primary" data-dismiss="modal">@Localizer["Cancel"]</button>
            </div>

            @*<div class="col-sm-1">
                <button onclick="send()" button class="btn btn-primary" data-save="modal">Send</button>
            </div>*@

        </div>
    </div>
    
</div>





    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }

