@model IEnumerable<Complex>
@inject CateringPro.Core.SharedViewLocalizer Localizer
@{
    var ModelName = "Categories";
    ViewData["Title"] = ModelName;
}


<div class="container">
    <div class="row justify-content-end">
        <div class="col-md-6 right">
            <h2>@Localizer["Complex"]</h2>
        </div>
        <div class="col-md-6 right">
            <div id="custom-search-input">
                <div class="input-group">
                    <input type="text" id="search-val" class="form-control input-lg" placeholder="@Localizer["Complex"]" />
                    <span class="input-group-btn">
                        <button class="btn btn-info btn-lg" id="search-btn" type="button">
                            <span class="fa fa-search" aria-hidden="true"></span>
                        </button>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-12 col-lg-12">
            <div id="table-content" class="table-content">

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-12 col-lg-12  table-footer bg-white text-success">
            <div id="create-btn" class="col-lg-3 col-md-3 create">

                <span class="fa fa-cart-plus fa-2x" aria-hidden="true"></span>
                <span aria-hidden="true">@Localizer["Add"]</span>
            </div>
        </div>
    </div>
</div>
<div id="modDialog" class="modal fade complex-form" >
    <div id="dialogContent" class="modal-dialog">

    </div>
    
</div>
<div id="modDialogcomplexline" class="modal modal-search fade complex-line" >
    <div id="dialogContentcomplexline" class="modal-dialog modal-search-dialog">
    <div class="modal-content modal-content-search">
        <div class="modal-header">
            <input type="text" id="search-dishes" class="form-control input-lg" placeholder="...." />
            <button type="button" class="close" data-toggle="modal" data-target="#modDialogcomplexline">X</button>
        </div>
        <div class="modal-body modal-search-body">
        </div>

    </div>
    </div>
</div>

@section Scripts
{
    <script type="text/javascript">
        var course;
        $(function () {
            var html_loading = '<div class="spinner-container"> <div>Loading</div><div class="spinner-border" role="status"> <span class="sr-only">Loading...</span> </div></div>';
            var pagehandler=setup_listitems({
                href: '@Url.Content("~/Complex")',
                onloadedcb:loaddishes
            });
            function delay(callback, ms) {
                var timer = 0;
                return function () {
                    var context = this, args = arguments;
                    clearTimeout(timer);
                    timer = setTimeout(function () {
                        callback.apply(context, args);
                    }, ms || 0);
                };
            };
            //$('#search-dishes').keyup(function (e) {
            //    console.log(e);
           // });
            $('#search-dishes').keyup(delay(function (e) {
               //console.log('Time elapsed!', this.value);
                var url = '@Url.Content("~/Dishes/SearchView")' + `?SearchCriteria=${this.value}`;
                $('#modDialogcomplexline').find(".modal-body").html(html_loading);
                $.get(url, function (data) {
                    $('#modDialogcomplexline').find(".modal-body").html(data);
                    //$('#modDialog').modal('hide');
                    //$('#modDialogcomplexline').modal('show');
                    $('#modDialogcomplexline').modal('handleUpdate');
                    setupDishSearch($('#modDialogcomplexline'), course, function () {
                        //  $('#modDialog').modal('show');

                    });
                });
            }, 500));
            $(document).on('click', 'a.add-complex-line', function (event) {
                event.preventDefault();
                course = $(this).attr("course");

                var url = '@Url.Content("~/Dishes/SearchView")' + `?course=${course}`;
                $('#modDialogcomplexline').find(".modal-body").html(html_loading);
                //$('#modDialog').modal('hide');
                $('#modDialogcomplexline').modal('show');
                $.get(url, function (data) {
                    $('#modDialogcomplexline').find(".modal-body").html(data);
                    //$('#modDialog').modal('hide');
                    //$('#modDialogcomplexline').modal('show');
                   // $('#modDialogcomplexline').modal('handleUpdate');
                    setupDishSearch($('#modDialogcomplexline'), course, function () {
                      //  $('#modDialog').modal('show');
                        //$('#modDialog').modal('handleUpdate');
                        });
                });

            });
            function setupDishSearch(dlg,course,closecb) {
               // $(dlg).find('.add-item').click(function (e) {
                $(dlg).find('.table.search-items tr').click(function (e) {

                        // console.log("add dish");
                        e.preventDefault();
                         //var dlg = $("#complex");

                        // var id = $(this).attr("data-id");

                        var id = $(this).find('.add-item').attr("data-id");
                         console.log(id );
                         var url = '@Url.Content("~/Dishes/Info/")' + `${id}`;
                        //console.log(url);
                    var flag = true;
                        $.get(url, function (data) {


                            //dlg.find("#complex-line "+i).find("#course-footer "+i).before(data);
                            var complexLines = $(".complex-content").find(".complex-line");
                            $(complexLines).each(function (i) {
                                var dishLine = $(this).find(".dish-line");
                                // sendObj.DishComplexes.push() = [];
                                $(dishLine).each(function (ind) {
                                    //console.log("Sear" + $(data).attr("dish-id"));
                                    if ($(this).attr("dish-id") == $(data).attr("dish-id")) {
                                        alert("You can't add the same dish");
                                        flag = false;
                                    }
                                    // sendObj["DishesIdes" + i].push($(this).attr("dish-id"));
                                });

                            });
                            if(flag)
                                $(data).insertBefore(".course-footer-" + course);
                            //$(".modal-dialog").scroll();
                            $('#modDialog').modal('handleUpdate');
                            //var el_complexid = $(`<input type='hidden' name='DishComplexes[0].DishId' value='${id}'/>`);  // Create with jQuery
                            //var el_course = $(`<input type='hidden' name='DishComplexes[0].DishCourse' value='${course}'/>`);
                            //var elid = $("input[name='dishid']");
                            //$(elid).after(el_complexid);
                            //$(elid).after(el_course);
                        });
                    //$('#modDialog').modal('handleUpdate');
                });
                $(dlg).on('hide.bs.modal', function (e) {
                    console.log('close search');

                    $('#modDialogcomplexline').find(".modal-body").empty();
                    if (closecb)
                        closecb();
                    //$('#modDialog').modal('show');
                })
            }
            function loaddishes(id) {
                if (!id)
                    id = $('#dialogContent').find("#Id").val();
               // var url = '@Url.Content("~/Complex/EditDishes/")' + id;
                var url = '@Url.Content("~/Complex/CreateNewCourse?complexId=")' + id +"&course=0";
                $.get(url, function (data) {
                    $('#dialogContent').find(".dishes-content").html(data);


                });
            }
            //edit Modal
            $(document).on("click", "#sendBut", function send() {
                console.log("Post ");
                var complexLines = $(".complex-content").find(".complex-line");
                //console.log($(complexLines[1]).find("dish-line"));
                //for(let line in complexLines ) {
                //    console.log(line);
                //}
                
                var selectedCategory = $("select.complex-category").children("option:selected").val();
                //console.log("category" + selectedCategory);
               
                var flag = true;
                var sendObj = {};
                sendObj.DishComplexes = [];
                $(complexLines).each(function (i) {
                    var dishLine = $(this).find(".dish-line");
                    // sendObj.DishComplexes.push() = [];
                    //console.log($(dishLine).length);
                    if ($(dishLine).length == 0) {
                        alert("Course can't be without dishes.");
                        flag = false;
                    }
                    $(dishLine).each(function (ind) {
                        //console.log("course " + i + " dish " + $(this).attr("dish-id"));
                        var dish = { DishId: $(this).attr("dish-id"), DishCourse: i, ComplexId: $("#Id").val() };
                        sendObj.DishComplexes.push(dish);
                        // sendObj["DishesIdes" + i].push($(this).attr("dish-id"));
                    });

                });
                sendObj.Id = $("#Id").val();
                sendObj.Name = $("#Name").val();
                sendObj.Price = $("#Price").val();
                sendObj.DishesQuantity = $("#quantity").val();
                sendObj.CategoriesId = selectedCategory;
                // console.log(sendObj);
                if (flag) {
                    $.ajax({
                        type: "POST",
                        data: sendObj,
                        url: "/Complex/EditModal",
                        success: function (data) {
                            if (data.res != "OK") {
                                alert(data.res);
                            } else {
                                $('#modDialog').attr("_changed", false);
                                $('#modDialog').modal('hide');
                                $('#dialogContent').empty();
                                //console.log(data);
                               // $('#modDialog').attr("_changed", false);
                                pagehandler.reload();
                            }
                        }
                    });
                }
               // $('#modDialog').modal('hide');

            });
   $(document).on("click", "#create-dishline",
    //$("#create-dishline").unbind().click(
    function (e) {
            console.log("create new line");
            e.preventDefault();
            var dlg = $("#complex");
            var quan = parseInt($("#quantity").val());
            $("#quantity").val(quan + 1);

                      var id = dlg.attr("data-id");
            var course = dlg.find(".complex-content").find(".complex-line").length;

                     // var url = '@Url.Content("~/Complex/CreateNewCourse")' + `?dishId=${id}&course=${course}`;
                      var url = '@Url.Content("~/Complex/CreateNewCourse")' + `?complexId=${id}&course=${course}`;
                  console.log(url);
            $.get(url, function (data) {
                //document.getElementById("dishContainer").appendChild(data);
                //console.log(data);
                dlg.find(".container").find("#dish-footer").before(data);
                $('select').selectpicker({
                    liveSearch: true,
                    showSubtext: true
                });
                });
        });

    $(document).on("click", ".delete-line",
        function (e) {
            console.log("delete line");
            e.preventDefault();
            var dlg = $(this).parents("#complex");
            var docline = $(this).parents(".complex-line");
            docline.remove();
            var quan = parseInt( $("#quantity").val());
            $("#quantity").val(quan - 1);
            var maxidx = dlg.find(".complex-line").length;
            console.log(maxidx);
            dlg.find(".complex-line").each(function (lidx, lel) {
                $(lel).find('input[name*="["]').each(function (idx, el) {
                    var name = $(el).attr('name');
                    console.log(name);
                    var newname = name.replace(/\[\d+\]/g, `[${lidx}]`);
                    $(el).attr('name', newname);
                    console.log(newname);
                });
            })

        });
    $(document).on("click", ".delete-item",
        function (e) {
            console.log("delete item");
            e.preventDefault();
            var dlg = $(this).parents("#complex");
            var docline = $(this).parents(".dish-line");
            docline.remove();

            var maxidx = dlg.find(".dish-line").length;
            console.log(maxidx);
            dlg.find(".dish-line").each(function (lidx, lel) {
                $(lel).find('input[name*="["]').each(function (idx, el) {
                    var name = $(el).attr('name');
                    console.log(name);
                    var newname = name.replace(/\[\d+\]/g, `[${lidx}]`);
                    $(el).attr('name', newname);
                    console.log(newname);
                });
            })

        });
            //end of edit modal
        })


    </script>
}
