@model EmailTemplateViewModel
@*@model CateringPro.Models.DayProductioDayViewModel*@
@using CateringPro.Helpers
@{
    Layout = null;
    var dish = Model.Models.FirstOrDefault().Value;
    List<DayIngredientsDetails> ingLs = new List<DayIngredientsDetails>();
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>View</title>

    <inline-style href="~/css/Report.css" />
</head>
<body>
    @Model.Greeting
    <br />

    @Model.Message
    <div class="report-box">
        <table cellpadding="0" cellspacing="0">
            <tr class="top">
                <td colspan="2">
                    <table>
                        <tr>
                            <td class="title">
                            </td>
                            <td>

                                Меню
                                <br /> Дата: @DateTime.Now.ToShortDateString()

                            </td>
                        </tr>
                    </table>
                </td>
            </tr>

            <tr class="information ">
                <td colspan="2 ">
                    <table>
                        <tr>
                            <td>
                            </td>
                            <td></td>
                            <td></td>
                            @*<td>
                                </td>*@
                        </tr>
                    </table>
                </td>
            </tr>
            <tr class="heading ">
                <td>
                    Код
                </td>
                <td>
                    Назва
                </td>
                <td>
                    Кiлькiсть
                </td>
                @*<td>
                        Інгрідієнти
                    </td>*@
            </tr>

            @foreach (var day in dish.Days)
            {
                <tr class="item daydate">
                    <td colspan="3">
                        @day.DayDate.ToShortDateString()
                    </td>

                </tr>
                @foreach (var item in day.Items)
                {
                    <tr class="dish">
                        <td>
                            @item.DishCode
                        </td>
                        <td>
                            @item.DishName
                        </td>
                        <td>
                            @item.Quantity
                        </td>

                    </tr>

                    @foreach (var ing in item.Ingridients)
                    {
                        <tr>
                            <td></td>
                            <td> @ing.IngredientName</td>
                            @{ var res = ing.Quantity * item.Quantity;
                                var resnetto = ing.QuantityNetto * item.Quantity;
                                if (ingLs.Exists(i => i.IngredientId == ing.IngredientId))
                                {
                                    var index = ingLs.FindIndex(c => c.IngredientId == ing.IngredientId);
                                    ingLs[index].Quantity += res;
                                }
                                else
                                {
                                    ingLs.Add(new DayIngredientsDetails(ing.IngredientId, ing.IngredientName, res, resnetto, ing.MeasureUnit));
                                }
                            }
                            <td>
                                @res @ing.MeasureUnit

                            </td>
                            <td></td>

                        </tr>
                    }

                }
            }

            <tr class="total ">
                <td></td>
                <td></td>

                <td>
                </td>
            </tr>
        </table>
        <br />
        <h1>Інгрідієнти</h1>
        <table>
            <tr class="heading ">
                <td>
                    Назва
                </td>
                <td>
                    Загальна кількість
                </td>
            </tr>
            @foreach (var ing in ingLs)
            {
                <tr>
                    <td> @ing.IngredientName</td>
                    <td> @ing.Quantity @ing.MeasureUnit</td>
                </tr>
            }
        </table>
    </div>
</body>
</html>
