@model CateringPro.Models.MassEmail
@using  CateringPro.Models
@inject CateringPro.Core.SharedViewLocalizer Localizer

@{
    ViewData["Title"] = "Edit";
    IEnumerable<SelectListItem> templates = ViewData["Templates"] as IEnumerable<SelectListItem>;
}
@if (true)
{
    <div class="modal-content col-lg-12 col-12">
        <div class="modal-header align-items-center col-12 px-0 px-md-3 px-lg-3" style="padding-top:20px">
            <h5 class="modal-title p-0" id="exampleModalLabel"
                style="font-size: 34px; line-height: 40px; font-weight: bold">
                @Localizer["MassEmail"]
            </h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <img src="../img/close-modal.svg" aria-hidden="true" alt="">
            </button>
        </div>
        <div class="modal-body col-auto p-0 mt-2 ">

            <form class="col-12  mt-3" asp-action="EditModal">
                    <ul class="nav nav-tabs justify-content-lg-center justify-content-md-center justify-content-center "
                    id="tab-user" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active px-0" style="width: 100%;" id="home-tab" data-toggle="tab"
                           href="#mail-home"
                           role="tab"
                           aria-controls="home"
                           aria-selected="true">Головна</a>
                    </li>
                    <li class="nav-item mr-2 ml-2">
                        <a class="nav-link px-0" style="width: 100%;" id="text-tab" data-toggle="tab"
                           href="#text-home"
                           role="tab"
                           aria-controls="roles"
                           aria-selected="false">Teкст</a>
                    </li>
                    </ul>
                <div class="tab-content mt-lg-5 pt-lg-3 mt-md-5 pt-md-3 mt-3 pt-0" id="user-tab">
                    <div class="tab-pane fade show active" id="mail-home" role="tabpanel"
                         aria-labelledby="home-user-tab">
                         <div class="row p-0 flex-column">
                    <div class="form-group d-flex flex-lg-row flex-md-row flex-column col-lg-9 col-md-9 col-12 input-row-black px-0 px-md-3 px-lg-3 align-content-center mb-0 mt-2">
                        <label asp-for="Name"
                               class="profile-form-title col-12 col-lg-4 col-md-4 d-flex align-items-center mb-1 p-0">Name</label>
                        <input class="form-control col-12 col-lg-8 col-md-8 pl-9"
                               asp-for="Name"
                               placeholder="Логін" style="height: 34px">
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group d-flex  col-lg-9 col-md-9 col-12 input-row-black  px-0 px-md-3 px-lg-3 align-content-center mb-0 mt-2">
                        <label asp-for="OnePerUser"
                               class="profile-form-title col-5 col-lg-4 col-md-4 p-0 d-flex align-items-center mb-1 "></label>
                        <label asp-for="OnePerUser" class="col-1 pl-3">
                            <input type="checkbox" asp-for="OnePerUser" class="checkbox-user">
                            <span class="checkmark-user" style="margin-top: 3px"></span>
                        </label>
                        <span asp-validation-for="OnePerUser" class="text-danger"></span>
                    </div>
                    <div class="form-group d-flex flex-lg-row flex-md-row flex-column col-lg-9 col-md-9 col-12 input-row-black  px-0 px-md-3 px-lg-3 align-content-center mb-0 mt-2">
                        <label asp-for="DistributionType"
                               class="profile-form-title col-12 col-lg-4 col-md-4 p-0 d-flex align-items-center mb-1 ">DistributionType</label>

                        <select asp-for="DistributionType" asp-items="Html.GetEnumSelectList<DistributionEnum>()" class="form-control col-12 col-lg-8 col-md-8 pl-3 " style="height: 34px; border: 1px solid #ced4da; border-radius: 4px"></select>
                        <span asp-validation-for="DistributionType" class="text-danger"></span>
                    </div>
                    <div class="form-group d-flex flex-lg-row flex-md-row flex-column col-lg-9 col-md-9 col-12 input-row-black  px-0 px-md-3 px-lg-3 align-items-start align-content-center mb-0 mt-2">
                        <input asp-for="Schedule" class="form-control" type="hidden" />
                        <label asp-for="Schedule"
                               class="profile-form-title col-12 col-lg-4 col-md-4 p-0  align-items-center mb-1 d-none d-lg-flex d-md-flex">Schedule</label>
                        <div id="schedule-selector"></div>

                    </div>
                    <div class="form-group d-flex flex-lg-row flex-md-row flex-column col-lg-9 col-md-9 col-12 input-row-black  px-0 px-md-3 px-lg-3 align-content-center mb-0 mt-2">
                        <label asp-for="DayFrom"
                               class="profile-form-title col-12 col-lg-4 col-md-4 p-0 d-flex align-items-center mb-0 ">DayFrom</label>
                        <span id="input-day-from" class="col-12 col-lg-8 col-md-8 p-0">
                            <input asp-for="DayFrom"
                                   style="font-family: Open-Sans, sans-serif;">
                            <div class="child-amount-control"
                                 onclick="this.previousElementSibling.stepUp()">+</div>
                            <div class="child-amount-control"
                                 onclick="this.previousElementSibling.previousElementSibling.stepDown()">-</div>
                        </span>
                    </div>
                    <div class="form-group d-flex flex-lg-row flex-md-row flex-column col-lg-9 col-md-9 col-12 input-row-black  px-0 px-md-3 px-lg-3 align-content-center mb-0 mt-2">
                        <label asp-for="DayTo"
                               class="profile-form-title col-12 col-lg-4 col-md-4 p-0 d-flex align-items-center mb-0 ">DayTo</label>
                        <span id="input-day-to" class="col-12 col-lg-8 col-md-8 p-0">
                            <input asp-for="DayTo" min="0"
                                   style="font-family: Open-Sans, sans-serif;">
                            <div class="child-amount-control"
                                 onclick="this.previousElementSibling.stepUp()">+</div>
                            <div class="child-amount-control"
                                 onclick="this.previousElementSibling.previousElementSibling.stepDown()">-</div>
                        </span>
                        <div id="schedule-selector"></div>
                        <span asp-validation-for="DayTo" class="text-danger"></span>
                    </div>
                    <div class="form-group d-flex flex-lg-row flex-md-row flex-column col-lg-9 col-md-9 col-12 input-row-black  px-0 px-md-3 px-lg-3 align-content-center mb-0 mt-2">
                        <label asp-for="TemplateName"
                               class="profile-form-title col-12 col-lg-4 col-md-4 p-0 d-flex align-items-center mb-1 ">TemplateName</label>
                        <select class="form-control col-12 col-lg-8 col-md-8 pl-1 "
                                asp-for="TemplateName" asp-items="@templates"
                                style="height: 34px; border: 1px solid #ced4da; border-radius: 4px">

                        </select>
                        <span asp-validation-for="TemplateName" class="text-danger"></span>
                    </div>
                    <div class="form-group d-flex flex-lg-row flex-md-row flex-column col-lg-9 col-md-9 col-12 input-row-black px-0 px-md-3 px-lg-3 align-content-center mb-0 mt-2">
                        <label asp-for="Subject"
                               class="profile-form-title col-12 col-lg-4 col-md-4 d-flex align-items-center mb-1 p-0">Subject</label>
                        <input class="form-control col-12 col-lg-8 col-md-8 pl-9"
                               asp-for="Subject" title="Хинт: вы можете использовать макросы {UserFriendlyName}=> Имя пользователя {UserChildFriendlyName} имя ребенка "
                               style="height: 34px">
                        <span asp-validation-for="Subject" class="text-danger"></span>
                    </div>
                    <div class="form-group d-flex flex-lg-row flex-md-row flex-column col-lg-9 col-md-9 col-12 input-row-black px-0 px-md-3 px-lg-3 align-content-center mb-0 mt-2">
                        <label asp-for="Greetings"
                               class="profile-form-title col-12 col-lg-4 col-md-4 d-flex align-items-center mb-1 p-0">Greetings</label>
                        <input class="form-control col-12 col-lg-8 col-md-8 pl-9"
                               asp-for="Greetings"
                                title="Хинт: вы можете использовать макросы {UserFriendlyName}=> Имя пользователя {UserChildFriendlyName} имя ребенка "
                               style="height: 34px">
                        <span asp-validation-for="Greetings" class="text-danger"></span>
                    </div>
                    <div class="form-group d-flex flex-lg-row flex-md-row flex-column col-lg-9 col-md-9 col-12 input-row-black px-0 px-md-3 px-lg-3 align-content-center mb-0 mt-2">
                        <label asp-for="Text"
                               class="profile-form-title col-12 col-lg-4 col-md-4 d-flex align-items-start  mb-1 p-0">Text</label>
                        <textarea class="form-control col-12 col-lg-8 col-md-8 pl-9"
                                  asp-for="Text"
                                  style="min-height: 100px">Text</textarea>
                        <span asp-validation-for="Text" class="text-danger"></span>
                    </div>
                    <div class="form-group d-flex flex-lg-row flex-md-row flex-column col-lg-9 col-md-9 col-12 input-row-black px-0 px-md-3 px-lg-3 align-content-center mb-0 mt-2">
                        <label asp-for="SQLCommand"
                               class="profile-form-title col-12 col-lg-4 col-md-4 d-flex align-items-start  mb-1 p-0"></label>
                        <textarea class="form-control col-12 col-lg-8 col-md-8 pl-9"
                                  asp-for="SQLCommand"
                                  style="min-height: 44px">Text</textarea>
                        <span asp-validation-for="SQLCommand" class="text-danger"></span>
                    </div>
                </div>
                        </div>

                    <div id="text-home" class="tab-pane" fade>

                        <div id="summernote">Hello Summernote</div>
                    </div>
                </div>
            </form>


        </div>
        <div class="modal-footer justify-content-center border-0"
             style="font-size: 14px; font-weight: bold; line-height: 16px; padding: 40px 0 58px">
            <button type="button" class="btn btn-primary m-2 col-sm-3 col-xl-3 col-12"
                    style="background: #36C233; border: 1px solid #36C233; height: 48px" data-save="modal">
                @Localizer["Save"]
                </button>
            <button type="button" class="btn btn-secondary m-2 col-sm-3 col-xl-3 col-12 "
                    style="background: #ffffff; border: 1px solid #F15E25; height: 48px; color: #f15e25"
                    data-dismiss="modal">
                @Localizer["Cancel"]
                </button><button type="button" class="btn btn-secondary m-2 col-sm-3 col-xl-3 col-12 "
        style="background: #ffffff; border: 1px solid #F15E25; height: 48px; color: #f15e25"
        action="@Url.Content("~/MassEmail/SendTest")" data-action="modal">
    @Localizer["SendTestEmail"]
</button>
        </div>
    </div>
}
else
{
    <style>
        form dt {
            float: left;
            display: block;
            width: 30%;
        }

        dd select {
            width: 50%;
        }

        dd textarea {
            width: 100%;
        }
    </style>
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">@Localizer["MassEmail"]</h5>
            <button class="close" data-dismiss="modal" area-hidden="true">
                <span aria-hidden="true">&times;</span>
            </button>

        </div>
        <div class="modal-body">
            <form asp-action="EditModal">
                <dl class="">


                    <dt>  <label asp-for="Name" class="control-label"></label></dt>

                    <dd>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </dd>
                    <dt>  <label asp-for="OnePerUser" class="control-label"></label></dt>
                    <dd>
                        <input type="checkbox" asp-for="OnePerUser" class="form-control" />
                        <span asp-validation-for="OnePerUser" class="text-danger"></span>
                    </dd>

                    <dt>  <label asp-for="DistributionType" class="control-label"></label></dt>
                    <dd>
                        <select asp-for="DistributionType" asp-items="Html.GetEnumSelectList<DistributionEnum>()" class="form-control"></select>
                        <span asp-validation-for="DistributionType" class="text-danger"></span>
                    </dd>

                    <dt>  <label asp-for="Schedule" class="control-label"></label></dt>
                    <dd>
                        <input asp-for="Schedule" class="form-control" type="hidden" />
                        <div id="schedule-selector"></div>
                        <span asp-validation-for="Schedule" class="text-danger"></span>
                    </dd>
                    <dt>  <label asp-for="DayFrom" class="control-label"></label></dt>
                    <dd>
                        <input asp-for="DayFrom" class="form-control" />
                        <div id="schedule-selector"></div>
                        <span asp-validation-for="DayFrom" class="text-danger"></span>
                    </dd>
                    <dt>  <label asp-for="DayTo" class="control-label"></label></dt>
                    <dd>
                        <input asp-for="DayTo" class="form-control" />
                        <div id="schedule-selector"></div>
                        <span asp-validation-for="DayTo" class="text-danger"></span>
                    </dd>
                    <dt>  <label asp-for="TemplateName" class="control-label"></label></dt>
                    <dd>
                        <select asp-for="TemplateName" asp-items="@templates" class="form-control"></select>

                        <span asp-validation-for="TemplateName" class="text-danger"></span>
                    </dd>
                    <dt>  <label asp-for="Subject" class="control-label"></label></dt>
                    <dd>
                        <input asp-for="Subject" class="form-control" />

                        <span asp-validation-for="Subject" class="text-danger"></span>
                    </dd>
                    <dt>  <label asp-for="Greetings" class="control-label"></label></dt>
                    <dd>
                        <input asp-for="Greetings" class="form-control" />
                        <span asp-validation-for="Greetings" class="text-danger"></span>
                    </dd>


                    <dt>  <label asp-for="Text" class="control-label"></label></dt>
                    <dd>
                        <textarea asp-for="Text" class="form-control" />
                        <span asp-validation-for="Text" class="text-danger"></span>
                    </dd>
                </dl>
            </form>
            <div class="row">
                <div class="col-sm-1">
                </div>
                <div class="col-sm-2">
                    <button type="button" button class="btn btn-primary" data-save="modal">@Localizer["Save"]</button>
                </div>
                <div class="col-sm-1">
                </div>
                <div class="col-sm-2">
                    <button type="button" button class="btn btn-primary" data-dismiss="modal">@Localizer["Cancel"]</button>
                </div>

                <div class="col-sm-1">
                </div>

                <div class="col-sm-2">
                    <button type="button" action="@Url.Content("~/MassEmail/SendTest")" button class="btn btn-primary" data-action="modal">@Localizer["SendTestEmail"]</button>
                </div>
            </div>
        </div>
    </div>

}

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
