@model IEnumerable<MassEmail>
@using  CateringPro.Core
@inject CateringPro.Core.SharedViewLocalizer Localizer
@{
    var ModelName = "MassEmail";
    ViewData["Title"] = ModelName;
    QueryModel querymodel = ViewData["QueryModel"] as QueryModel;
    if (querymodel == null)
    {
        querymodel = new QueryModel();
    }
}

@if (Layout == "_LayoutCabachok")
{
    <div class="container-xl container container-md container-sm container-lg">
        <div class="row align-items-center pb-3  ml-xl-0 ml-md-0 ml-sm-0 p-0 ml-0" style="margin-top: 48px">
            <div class="col-7 col-xl-9 col-md-6 col-sm-6 align-content-center mr-md-auto pl-0">
                <p class="h2 h2-mob"
                   style="font-weight: 600">
                    @Localizer["MassEmail"]
                </p>
            </div>
        </div>

        <div class="row pb-3 ml-xl-0 ml-md-0 ml-sm-0 p-lg-0 p-md-0 align-items-center  justify-content-end m-0 flex-md-column flex-lg-row flex-column container p-0">
            @Html.DisplaySortField(model => model.Name).AddSortField(model => model.Schedule).Display(querymodel)
            <div class="col-lg-4 col-12 p-0 ">
                <div class="col-12 p-0 justify-content-center w-100" style="display: flex">
                    <div class="form-inline col-12 p-0" style=" display: flex;">
                        <input id="search-val" class="form-control  w-100" type="search" placeholder="@Localizer["MassEmail"]" aria-label="Search"
                               style="font-size: 16px; color:#797979; height: 48px; background: url('../img/search-icon.svg') no-repeat 95%;">
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-12 p-0 d-none d-md-block">
                <div class="col-12 p-0 justify-content-center" style="height: 48px">
                    <button type="button" id="create-btn"
                            class=" btn btn-xl btn-outline-danger float-lg-right justify-content-center float-md-none font-weight-bold btn-block col-lg-6"
                            onmousemove="this.style.background='#36C233'; this.style.color='#ffffff'"
                            onmouseout="this.style.background='#ffffff'; this.style.color='#36C233'"
                            style="background: #ffffff; border-color: #36C233; outline: none; height: 48px; color: #36C233; display: flex; align-items: center; justify-content: space-evenly; margin: 28px 0 23px; font-size: 14px;">
                        &#65291; @Localizer["Create"]
                    </button>
                </div>
            </div>
        </div>


        <div id="table-content" class="" data-sortfield="@querymodel.SortField" data-sortorder="@querymodel.SortOrder" data-filter="@querymodel.SearchCriteria">

        </div>





    </div>
    <div id="modDialog" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div id="dialogContent" class="modal-dialog" style="max-width: 966px"></div>
    </div>

}
else
{
    <script type="text/javascript" src="~/js/jquery-cron-min.js"></script>

    <link type="text/css" href="~/css/jquery-cron.css" rel="stylesheet" />
    <script type="text/javascript" src="~/js/jquery-gentleSelect-min.js"></script>
    <link type="text/css" href="~/css/jquery-gentleSelect.css" rel="stylesheet" />

    <div class="container">
        <div class="row justify-content-end">
            <div class="col-md-6 right">
                <h2>@Localizer["MassEmail"]</h2>
            </div>
            <div class="col-md-6 right">
                <div id="custom-search-input">
                    <div class="input-group">
                        <input type="text" id="search-val" class="form-control input-lg" placeholder="@Localizer["MassEmail"]" />
                        <span class="input-group-btn">
                            <button class="btn btn-info btn-lg" id="search-btn" type="button">
                                <span class="fa fa-search" aria-hidden="true"></span>
                            </button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-12 col-lg-12">
                <div id="table-content" class="table-content">

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-12 col-lg-12  table-footer bg-white text-success">
                <div id="create-btn" class="col-lg-3 col-md-3 create">
                    <span class="fa fa-plus fa-2x" aria-hidden="true"></span>

                </div>
            </div>
        </div>
    </div>
    <div id="modDialog" class="modal wide-modal fade">
        <div id="dialogContent" class="modal-dialog"></div>
    </div>
}
@section Styles
{
    <link type="text/css" href="~/css/jquery-cron.css" rel="stylesheet" />
    <link type="text/css" href="~/css/jquery-gentleSelect.css" rel="stylesheet" />
    <link type="text/css" href="~/css/summernote.min.css" rel="stylesheet" />

}
@section Scripts
{
    <script type="text/javascript" src="~/js/jquery-cron-min.js"></script>


    <script type="text/javascript" src="~/js/jquery-gentleSelect-min.js"></script>
    <script type="text/javascript" src="~/js/summernote.min.js"></script>

    <script type="text/javascript">
        $(function () {
            setup_listitems({ href: '@Url.Content("~/MassEmail")', onloadedcb: loadForm, onbeforesave: onsave});
            function onsave(){
                var markupStr = $('#summernote').summernote('code');
                $('#Text').text(markupStr);
            };
            function loadForm() {
                var sch = $("#Schedule");
                var initial = sch.val();
                if (!initial || initial.length == 0)
                    initial = "* * * * *";
                $('#schedule-selector').cron({
                    initial:initial,//initial,
                    onChange: function () {
                        sch.val($(this).cron("value"));
                    },
                    customValues: {
                        "5 Minutes": "*/5 * * * *"

                    },

                    useGentleSelect: true // default: false);
                });
                $('#modDialog').find('.modal-body').tooltip();
               // $('#summernote').text($('#Text').text());
                $('#summernote').summernote({
                    dialogsInBody: true,
                    height: 250,
                  
                    callbacks: {
                        onBlur: function () {
                            onsave();
                        }
                    }
                });
                $('#summernote').summernote('code', $('#Text').text());
               
            };
        })
    </script>
}
