@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Identity.EntityFrameworkCore
@using Microsoft.AspNetCore.Html
@inject SignInManager<CompanyUser> SignInManager
@inject CateringPro.Core.SharedViewLocalizer Localizer
@inject CateringPro.Repositories.ICompanyUserRepository com_rep
@{
    var current_user = await SignInManager.UserManager.GetUserAsync(User);
    async Task<IHtmlContent> RenderMenuItem(string controller, string action, string description, string roles)
    {
        bool render = string.IsNullOrEmpty(roles);
        if (!render)
        {
            var userroles = roles.Split(",");

            foreach (var r in userroles)
            {
                if (User.IsInRole(r))
                {
                    render = true;
                    break;
                }
            }
        }
        if (render)
        {
            <a class="dropdown-item" asp-controller="@controller" asp-action="@action">@description</a>
        }
        return HtmlString.Empty;
    }
}
<a class="navbar-brand" href="#">Catering.</a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"><i class="fas fa-bars"></i></span>
</button>
<div class="collapse navbar-collapse" id="navbarNavDropdown">
    @if (!SignInManager.IsSignedIn(User))
    {
        <a id="loginLink" class="login-but" asp-controller="Account" asp-action="Login">@Localizer["MenuLogIn"]</a>

        <a id="registerLink" class="reg-but button-basic" asp-controller="Account" asp-action="Register">@Localizer["MenuRegister"]</a>

    }
    else
    {
        <ul class="navbar-nav ml-auto">
            @if (User.IsInRole("Admin"))
            {
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img src="img/admin.svg" alt="">@Localizer["MenuAdmin"]
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        @await RenderMenuItem("Categories", "Index", Localizer["MenuCategories"], "Admin,CompanyAdmin,KitchenAdmin")
                        @await RenderMenuItem("Dishes", "Index", Localizer["MenuDishes"], "Admin,CompanyAdmin,KitchenAdmin")
                        @await RenderMenuItem("Complex", "Index", Localizer["MenuComplex"], "Admin,CompanyAdmin,KitchenAdmin")
                        @await RenderMenuItem("DayDishes", "EditDay", Localizer["MenuDayDishes"], "Admin,CompanyAdmin,KitchenAdmin")
                        @await RenderMenuItem("Company", "Setting", Localizer["Setting"], "Admin,CompanyAdmin")
                        @await RenderMenuItem("DishKind", "Index", Localizer["DishKind"], "Admin,CompanyAdmin,KitchenAdmin")
                        @await RenderMenuItem("Ingredients", "Index", Localizer["MenuIngredients"], "Admin,CompanyAdmin,KitchenAdmin")
                        @await RenderMenuItem("Report", "Index", Localizer["Reports"], "Admin,CompanyAdmin,UserAdmin,GroupAdmin,SubGroupReportAdmin")

                    </div>
                </li>
            }
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <img src="img/admin.svg" alt="">@(current_user.GetChildUserName())
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" asp-controller="Account" asp-action="Update">@Localizer["MenuUpdateUser"]</a>
                    <a class="dropdown-item" asp-controller="Account" asp-action="AddBalance">@Localizer["AddBalance"]</a>
                    <a id="changechield" class="dropdown-item" href="#">@Localizer["MenuChangeChild"]</a>
                </div>
            </li>

            <li class="nav-item">
                <a class="nav-link" asp-controller="UserDayDishes" asp-action="Index"><img src="img/cart.svg" alt="">@Localizer["MenuUserOrder"]</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" asp-controller="Account" asp-action="LogOut"><img src="img/exit.svg" alt="">@Localizer["MenuLogOut"]</a>
            </li>
        </ul>


    }
</div>