@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Identity.EntityFrameworkCore

@inject SignInManager<CompanyUser> SignInManager
@inject CateringPro.Core.SharedViewLocalizer Localizer
@if (SignInManager.IsSignedIn(User))
{
    @* <ul class="nav navbar-nav navbar-right">*@
    <ul class="nav navbar-nav">
        @if (User.IsInRole("Admin"))
        {
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    @Localizer["MenuAdmin"]
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" asp-controller="Dishes" asp-action="Index">@Localizer["MenuDishes"]</a>
                    <a class="dropdown-item" asp-controller="Categories" asp-action="Index">@Localizer["MenuCategories"]</a>
                    <a class="dropdown-item" asp-controller="Ingredients" asp-action="Index">@Localizer["MenuIngredients"]</a>
                    <a class="dropdown-item" asp-controller="Complex" asp-action="Index">@Localizer["MenuComplex"]</a>
                    <a class="dropdown-item" asp-controller="DayDishes" asp-action="EditDay">@Localizer["MenuDayDishes"]</a>
                    <a class="dropdown-item" asp-controller="CustomerOrders" asp-action="Index">@Localizer["MenuCustomerOrders"]</a>
                    <a class="dropdown-item" asp-controller="Stock" asp-action="Index">@Localizer["MenuStock"]</a>
                    <a class="dropdown-item" asp-controller="Stock" asp-action="ConsignmentStock">@Localizer["MenuStockConsignment"]</a>
                    <a class="dropdown-item" asp-controller="Docs" asp-action="Index">@Localizer["MenuDocs"]</a>
                    <a class="dropdown-item" asp-controller="Company" asp-action="Setting">@Localizer["Setting"]</a>
                    <a class="dropdown-item" asp-controller="Report" asp-action="Index">@Localizer["Reports"]</a>
                </div>
            </li>

        }
        <li><a href="" class="nav-link">@User.Identity.Name</a></li>

        <li><a id="logoutLink" class="nav-link" asp-controller="Account" asp-action="LogOut">@Localizer["MenuLogOut"]</a></li>
    </ul>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li><a id="registerLink" class="nav-link" asp-controller="Account" asp-action="Register">@Localizer["MenuRegister"]</a></li>
        <li><a id="loginLink" class="nav-link" asp-controller="Account" asp-action="Login">@Localizer["MenuLogIn"]</a></li>
    </ul>
}
