@model CateringPro.ViewModels.DeleteDialogViewModel
@inject CateringPro.Core.SharedViewLocalizer Localizer
@{ ViewData["Title"] = "Delete"; }


<div class="modal-content delete-content">
    <div class="modal-header">
        <h5 class="modal-title">@Localizer["ConfirmDelete"]</h5>
        <button class="close" data-dismiss="modal" area-hidden="true">
            <span aria-hidden="true">&times;</span>
        </button>

    </div>
    <div class="modal-body">
        <div class="container">
            <div class="row justify-content-center  my-2">
                <div class="col-12 align-content-center text-center">
                    <h6>@Html.DisplayFor(model => model.ModelName)</h6>
                </div>
            </div>
            <div class="row justify-content-center my-2">
                <div class="col-12 align-content-center text-center">
                    <h4> @Html.DisplayFor(model => model.Name)</h4>
                </div>
            </div>
            <div class="row justify-content-center  my-4">
                <div class="col-12 align-content-center">
                    <form asp-action="Delete">
                        <div class="container form-actions no-color">
                            <div class="row justify-content-center  align-self-center">
                            <input type="hidden" asp-for="Id" />
                            @Html.AntiForgeryToken()
                            <div class="col-6  align-self-center text-center">
                                <input type="submit" value="@Localizer["Delete"]" class="btn btn-danger" />
                            </div>
                            <div class="col-6 align-self-center text-center">
                                <button type="button" button class="btn btn-primary" data-dismiss="modal">@Localizer["Cancel"]</button>
                            </div>
                        </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>