@model IEnumerable<CateringPro.Models.DayComplexViewModel>
@inject CateringPro.Core.SharedViewLocalizer Localizer
@{
    ViewData["Title"] = "EditDay";
}
@{
    DateTime daydate = DateTime.Now;
}



@{
    int idx = 0;
}

@foreach (var item in Model)
{

    <div class="container daydish-complex-content border rounded">
        <div class="row">
            <div class="col col-lg-12 col-md-12 complex-menu-header">
                @Localizer["Complex Dishes"]
            </div>
        </div>
        @{
            string id_checkbox = daydate.Millisecond.ToString() + "_" + idx;
        }
        <div class="row row-daycomplex">

            <div class="col col-md-2 col-2">
                <div class="checkbox checkbox-info">

                    @if (item.Enabled)
                    {
                        <input type="checkbox" class="checkbox styled" checked="checked" cp-name="dayselect-complex" id="@id_checkbox" />
                    }
                    else
                    {
                        <input type="checkbox" class="checkbox styled" cp-name="dayselect-complex" id="@id_checkbox" />
                    }
                    <label for="@id_checkbox">

                    </label>
                    @Html.HiddenFor(modelItem => item.ComplexId)
                    @Html.HiddenFor(modelItem => item.Date)
                </div>
            </div>
            <div class="col col-lg-4 col-md-4 col-4">
                @Html.DisplayFor(modelItem => item.ComplexName)
            </div>
            <div class="col col-lg-4 col-md-4 col-4 small">
                @Html.DisplayFor(modelItem => item.DishesString)
            </div>
        </div>
        @foreach (var dish in item.ComplexDishes)
        {
    <div class="row row-daycomplex-item">
        <div class="col col-lg-2 col-md-2 col-2 small">


        </div>
        <div class="col col-md-2">
            <img src="@Url.Action("GetPicture", "Pictures", new { id = dish.PictureId, width = 50, height = 50 })" style="width:50px;height:50px;" />


        </div>
        <div class="col col-lg-2 col-md-2 col-2">

            @Html.HiddenFor(modelItem => dish.DishId, new { datafield = "DishID" })

            @Html.DisplayFor(modelItem => dish.DishName)
        </div>

        <div class="col col-lg-2 col-md-2 col-2 small">
            @String.Format("{0:f3}", dish.DishReadyWeight)@Localizer["DishReadyWeightMeasureUnit"]

        </div>
        <div class="col col-lg-4 col-md-4 col-4 small">
            @Html.DisplayFor(modelItem => dish.DishDescription)


        </div>




    </div>
        }
        @{
            idx++;
        }

        <div class="row dayfoot">
        </div>
    </div>


}
