@model Company
@inject CateringPro.Core.SharedViewLocalizer Localizer
@using CateringPro.Helpers
@{
    ViewData["Title"] = "Register";
}

<h2>@Localizer["Company Data"]</h2>
<form asp-controller="Company" asp-action="Setting" method="post" class="form-horizontal" role="form" enctype="multipart/form-data">

    <hr />

    <input type="hidden" asp-for="Id" />
    <div class="container">
        <div class="row form-group">
            <label asp-for="City" class="col-md-2 control-label float-left"></label>
            <div class="col-md-10 float-left">
                <input asp-for="City" class="form-control" />
                <span asp-validation-for="City" class="text-danger"></span>
            </div>
        </div>
        <div class="row form-group">
            <label asp-for="ZipCode" class="col-md-2 control-label float-left"></label>
            <div class="col-md-10 float-left">
                <input asp-for="ZipCode" class="form-control" />
                <span asp-validation-for="ZipCode" class="text-danger"></span>
            </div>
        </div>
        <div class="row form-group">
            <label asp-for="Address1" class="col-md-2 control-label float-left"></label>
            <div class="col-md-10 float-left">
                <input asp-for="Address1" class="form-control" />
                <span asp-validation-for="Address1" class="text-danger"></span>
            </div>
        </div>
        <div class="row form-group">
            <label asp-for="Address2" class="col-md-2 control-label float-left"></label>
            <div class="col-md-10 float-left">
                <input asp-for="Address2" class="form-control" />
                <span asp-validation-for="Address2" class="text-danger"></span>
            </div>
        </div>
        <div class="row form-group">
            <label asp-for="Country" class="col-md-2 control-label float-left"></label>
            <div class="col-md-10 float-left">
                <input asp-for="Country" class="form-control" />
                <span asp-validation-for="Country" class="text-danger"></span>
            </div>
        </div>
        <div class="row  form-group">
            <label asp-for="OrderLeadTimeH" class="col-md-2 control-label float-left"></label>
            <div class="col-md-10 float-left">
                <input asp-for="OrderLeadTimeH" class="form-control" />
                <span asp-validation-for="OrderLeadTimeH" class="text-danger"></span>
            </div>
        </div>
        <div class="row  form-group">
            <label asp-for="OrderThresholdTimeH" class="col-md-2 control-label float-left"></label>
            <div class="col-md-10 float-left">
                <input asp-for="OrderThresholdTimeH" class="form-control" />
                <span asp-validation-for="OrderThresholdTimeH" class="text-danger"></span>
            </div>
        </div>
        <div class="row form-group">
            @{
                OrderTypeEnum types = Model.GetOrderType();
                string roles = string.Join(",", types);
            }
            <label asp-for="OrderType" class="col-md-2 control-label float-left"></label>
            <ul class="list-group orderType">
                @foreach (var value in @EnumHelper<OrderTypeEnum>.GetValues(Model.GetOrderType()))
                {

                    var description = EnumHelper<OrderTypeEnum>.GetDisplayValue(value);
                    var classname = "role-item list-group-item";

                    if (types.HasFlag(value))
                    {
                        classname += " active";
                    }
                    <li class="@classname " style="cursor:pointer;" data-val="@value">@Localizer[value.ToString()]</li>

                }
            </ul>
            <input type="hidden" id="orderType" name="orderType" value="@roles" />
        </div>
        <div class="row  form-group">
            <label asp-for="PictureId" class="col-md-2 control-label float-left"></label>
            <div class="col-md-10 float-left">
                <input type="hidden" asp-for="PictureId" />
                <input type="file" class="form-control" id="filepicture" name="logopicture" />
                <img width="450" id="imgfilepicture" height="300" class="form-control" style="width:450px;height:300px;" src="@Url.Action("GetPicture","Pictures",new { id=Model.PictureId,width=450,height=300})" />

            </div>
        </div>
        <div class="row  form-group">
            <label asp-for="StampPictureId" class="col-md-2 control-label float-left"></label>
            <div class="col-md-10 float-left">
                <input type="hidden" asp-for="StampPictureId" />
                <input type="file" class="form-control" id="stampfilepicture" name="stamplogopicture" />
                <img width="450" id="imgstamplogofilepicture" height="300" class="form-control" style="width:450px;height:300px;" src="@Url.Action("GetPicture","Pictures",new { id=Model.StampPictureId,width=450,height=300})" />

            </div>
        </div>

        <div class="row form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="@Localizer["Company Setting Save"]" class="btn btn-primary" />
            </div>
        </div>
    </div>


</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script type="text/javascript">

    $(function () {

             function readURL(input,targetcontrolid) {
                  if (input.files && input.files[0]) {
                    var reader = new FileReader();
                      var target ='#imgfilepicture';
                      if (targetcontrolid)
                          target = targetcontrolid;
                    reader.onload = function(e) {
                      $(target).attr('src', e.target.result);
                    }

                    reader.readAsDataURL(input.files[0]);
                  }
                }
             $(document).on("change","#filepicture",function() {
                  readURL(this);
              });
              $(document).on("change","#stampfilepicture",function() {
                  readURL(this,"#imgstamplogofilepicture");
              });
        $(document).on("click", ".role-item", function (e) {
            
                e.preventDefault();
                if ($(this).hasClass('active'))
                    $(this).removeClass('active');
                else
                    $(this).addClass('active');

            var roles = $(document).find(".role-item.active").map(function () {
                return $(this).attr("data-val");
                })
                    .get()
                    .join(", ");
                $("#orderType").val(roles);
            });
        
    })
    </script>

}
