@model AddBalanceViewModel
@inject CateringPro.Core.SharedViewLocalizer Localizer
@using CateringPro.Core
@using Microsoft.Extensions.Configuration
@inject CateringPro.Core.SharedViewLocalizer Localizer
@inject IConfiguration Configuration
@{
    ViewData["Title"] = Localizer["AddBalance"];
    SiteSetting setting = Configuration.GetSection("SiteSetting").Get<SiteSetting>();
}
<h2>@ViewData["Title"]</h2>

<div class="container">
    <div class="row">
        <div class="col-4 bold-w">
            @Localizer["CurrentBalance"]
        </div>
        <div class="col-4">
            @Model.CurrentBalance
        </div>
    </div>
    <div class="row">
        <div class="col-4 bold-w">
            @Localizer["TotalPreOrderedAmount"]
        </div>
        <div class="col-4">
            @Model.TotalPreOrderedAmount
        </div>
    </div>
    <div class="row">
        <div class="col-4 bold-w">
            @Localizer["TotalPreOrderBalance"]
        </div>
        <div class="col-4">
            @Model.TotalPreOrderBalance
        </div>
    </div>
</div>
<div class="container border rounded my-2">
    <div class="row justify-content-center ">
        <div class="col-12 text-center">
            Додати баланс за допомогою LiqPay.
            Введiть сумму та натиснить поповнити
        </div>
    </div>
    <div id="addbalanceliqpay" class="row  my-2">
        <div class="container">
            <div class="row justify-content-center  my-2">

                <div class="col-6  text-center">

                    <input class="form-control text-right font-weight-bold" id="liqpay-amount" type="number" name="amount" value="500.00" placeholder="Сумма" style="max-width:200px;" />


                </div>

            </div>
            @if (setting.EnableLiqPay)
            {
                <div class="row  justify-content-center my-2">
                    <div class="col-6 text-center">


                        <button type="button" id="addliqpay-btn"
                                class="btn btn-xl btn-outline-danger  font-weight-bold btn-block "
                                onmousemove="this.style.background='#36C233'; this.style.color='#ffffff'"
                                onmouseout="this.style.background='#ffffff'; this.style.color='#36C233'"
                                style="max-width: 200px; background: #ffffff; border-color: #36C233; outline: none; height: 48px; color: #36C233; display: flex; align-items: center; justify-content: space-evenly; font-size: 14px;">
                            &#65291;@Localizer["AddBalance"]
                        </button>

                    </div>

                </div>
            }
            else
            {
                <div class="row justify-content-center ">
                    <div class="col-12 text-center">
                        <a href="@Html.Raw("https://next.privat24.ua/payments/form/%7B%22token%22%3A%223700ff9e-b150-4e47-9bbe-8588a59144fa%22%7D?fbclid=IwAR1Ft3dFuABYjCdQjy9BBN3rnTUXsel2Q7yhv5Msggy3D3SZdgPdG0wad8I")">
                            Ви можете сплатит перейшовши за посиланням
                        </a>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
@section scripts
{
    <script>

    $(function () {
          $('#addliqpay-btn').click(function (e) {
                        e.preventDefault();
                        window.location.replace(`@Url.Action("Index","Payment")?amount=${$('#liqpay-amount').val()}`);


                    })
    })
    </script>



}