@model UpdateUserModel
@inject CateringPro.Core.SharedViewLocalizer Localizer



    
    <div class="modal-header">
        <h5 class="modal-title">@Localizer["PasswordChanging"]</h5>
        <button id="DivClose" type="button" class="close" data-dismiss="modal">&times;</button>
    </div>
        <div class="modal-body" style="text-align:center;">
            <form asp-controller="Account" asp-action="ChangeOldPassword" method="post" role="form">
                <input asp-for="Id" type="hidden" name="Id" value="@Model.Id" />
                <input asp-for="IsModal" type="hidden" value="true" />
                <ul>
                    @if (Model.Errors != null && Model.Errors.Count() > 0)
                    {
                        @foreach (var error in Model.Errors)
                        {
                            <li><div asp-validation-summary="All" class="text-danger"> @error</div> </li>
                        }
                    }
                </ul>
                <div asp-validation-summary="All" id="errr" class="text-danger"></div>
                <div class="form-group d-flex flex-lg-row flex-md-row flex-column col-lg-12 col-md-12 col-12 input-row-black justify-content-start align-content-center">
                    <label asp-for="OldPassword"
                           class="profile-form-title col-12 col-lg-6 col-md-5 p-0 d-flex align-items-center font-weight-bold pl-lg-3 pl-md-3 pl-0 mr-4 mb-1 mb-lg-0 mb-md-0">
                    </label>
                    <input asp-for="OldPassword"
                           type="password" class="form-control col-12 col-lg-6 col-md-6 pl-3" id="input-old-password" placeholder="" style="height: 34px" autocomplete="off">
                </div>
                <div class="form-group d-flex flex-lg-row flex-md-row flex-column col-lg-12 col-md-12 col-12 input-row-black justify-content-start align-content-center">
                    <label asp-for="NewPassword"
                           class="profile-form-title col-12 col-lg-6 col-md-5 p-0 d-flex align-items-center font-weight-bold pl-lg-3 pl-md-3 pl-0 mr-4 mb-1 mb-lg-0 mb-md-0">
                    </label>
                    <input asp-for="NewPassword"
                           type="password" class="form-control col-12 col-lg-6 col-md-6 pl-3"
                           id="input-new-password" placeholder="" style="height: 34px" autocomplete="off">
                    <span asp-validation-for="NewPassword" class="text-danger"></span>
                </div>
                <div class="form-group d-flex flex-lg-row flex-md-row flex-column col-lg-12 col-md-12 col-12 input-row-black justify-content-start align-content-center">
                    <label asp-for="ConfirmPassword"
                           class="profile-form-title col-12 col-lg-6 col-md-5 p-0 d-flex align-items-center font-weight-bold pl-lg-3 pl-md-3 pl-0 mr-4 mb-1 mb-lg-0 mb-md-0">
                    </label>
                    <input asp-for="ConfirmPassword"
                           type="password" class="form-control col-12 col-lg-6 col-md-6 pl-3"
                           id="input-confirm-new-password" placeholder="" style="height: 34px" autocomplete="off">
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            @*<button asp-action="ChangeOldPassword" asp-controller="Account" type="submit" data-save="modal" button class="btn btn-primary m-2 col-sm-4 col-xl-4 col-12"
                    style="background: #36C233; border: 1px solid #36C233; height: 48px">
                @Localizer["Company Setting Save"]
            </button>*@
            <input asp-controller="Account" asp-action="ChangeOldPassword" type="submit" class="btn btn-primary" data-save="modal" value="@Localizer["Save"]" />
        </div>






@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

