@model UpdateUserModel
@using CateringPro.Core
@using Microsoft.Extensions.Configuration
@inject CateringPro.Core.SharedViewLocalizer Localizer
@inject IConfiguration Configuration
@{
    SiteSetting setting = Configuration.GetSection("SiteSetting").Get<SiteSetting>();
    QueryModel querymodel = ViewData["QueryModel"] as QueryModel;

    if (querymodel == null)
    {
        querymodel = new QueryModel();
    }
}
<form asp-controller="Account" asp-action="Update" method="post" role="form" enctype="multipart/form-data">

    <div class="container line-data" id="line-data">
        <div class="row">
            <div class="col-lg-12">
                <h1>@Localizer["MenuUpdateUser"]</h1>
            </div>

            <div class="col-lg-12">

                <nav>
                    <div class="nav pt30 pb30" id="nav-tab" role="tablist">
                        <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">@Localizer["MainData"]</a>
                        <a class="nav-item nav-link" id="child-tab" data-toggle="tab" href="#profile-child" role="tab" aria-controls="child-tab" aria-selected="false">@Localizer["Childs"]</a>
                        <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">@Localizer["Finance"]</a>
                        <a class="nav-item nav-link" id="nav-sec-tab" data-toggle="tab" href="#nav-sec" role="tab" aria-controls="nav-sec" aria-selected="false">Безпека</a>
                    </div>
                </nav>
                @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                <div class="tab-content" id="pills-tabContent">
                    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                        <div class="row">
                            <div class="col-lg-4">

                                <div class="wrap-label">
                                    <div class="icon">
                                        <i class="fas fa-user-tie"></i>
                                    </div>
                                    <input asp-for="NameSurname" type="text" class="form-control" id="input-name" placeholder="Ім’я та прізвище">
                                </div>
                                <div class="wrap-label">
                                    <div class="icon">
                                        <i class="fas fa-envelope"></i>
                                    </div>
                                    <input type="email" class="form-control" asp-for="Email" placeholder="E-mail">
                                </div>
                                <div class="wrap-label">
                                    <div class="icon">
                                        <i class="fas fa-mobile"></i>
                                    </div>
                                    <input type="tel" asp-for="PhoneNumber" class="form-control" placeholder="Телефон">
                                </div>
                                <div class="wrap-label">
                                    <div class="icon">
                                        <i class="fas fa-lock"></i>
                                    </div>
                                    <input type="text" class="form-control" asp-for="City" placeholder="Місто">
                                </div>


                            </div>
                            <div class="col-lg-4">

                                <div class="wrap-label">
                                    <div class="icon">
                                        <i class="fas fa-user-tie"></i>
                                    </div>
                                    <input type="text" class="form-control" asp-for="Address1" placeholder="Адреса 1">
                                </div>
                                <div class="wrap-label">
                                    <div class="icon">
                                        <i class="fas fa-envelope"></i>
                                    </div>
                                    <input type="email" class="form-control" asp-for="Address2" placeholder="Адреса 2">
                                </div>
                                <div class="wrap-label">
                                    <div class="icon">
                                        <i class="fas fa-mobile"></i>
                                    </div>
                                    <input type="tel" class="form-control" asp-for="Country" placeholder="Страна">
                                </div>
                                <div class="wrap-label">
                                    <div class="icon">
                                        <i class="fas fa-lock"></i>
                                    </div>
                                    <input type="text" class="form-control" asp-for="ZipCode" placeholder="Почт. index">
                                </div>


                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="profile-child" role="tabpanel" aria-labelledby="child-tab">
                        @if (!Model.IsChild)
                        {<div id="child-container" class="d-flex justify-content-center flex-column align-items-center">
                                <div class="col-12 col-md-8 col-lg-9 p-0 d-flex align-items-center">
                                    <div class="col-6 col-md-6 col-lg-6 p-0 d-flex flex-md-row flex-lg-row flex-column justify-content-between align-items-lg-center align-items-md-center">
                                        <label asp-for=ChildrenCount
                                               class="profile-form-title mb-1 justify-content-start mb-lg-0 mb-md-0">
                                        </label>
                                        <span id="child-amount">
                                            <input asp-for="ChildrenCount" class="form-control col-12 col-lg-6 col-md-6 pl-3" autocomplete="off" readonly />
                                            @*<span asp-validation-for="ChildrenCount" class="text-danger"></span>*@

                                        </span>
                                    </div>
                                    <div class="col-6 p-0 d-flex justify-content-end align-self-end align-self-sm-end align-self-md-center"
                                         style="height: 34px">
                                        <button type="button" id="addchild"
                                                class=" btn  btn-xl btn-outline-danger justify-content-center float-md-none font-weight-bold btn-block col-lg-5 col-md-5 col-7 m-0 p-0"
                                                onmousemove="this.style.background='#36C233'; this.style.color='#ffffff'"
                                                onmouseout="this.style.background='#ffffff'; this.style.color='#36C233'"
                                                style="background: #ffffff; border-color: #36C233; outline: none; height: 34px; color: #36C233; display: flex; align-items: center; justify-content: space-evenly; margin: 28px 0 23px; font-size: 14px;">
                                            &#65291; @Localizer["Add"]
                                        </button>
                                    </div>
                                </div>
                            </div>}
                        else
                        {
                            <label class="profile-form-title mb-1 justify-content-start mb-lg-0 mb-md-0">
                                Наразі ви під обліковим записом дитини
                            </label>
                        }
                    </div>
                    <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab"></div>
                    <div class="tab-pane fade" id="nav-sec" role="tabpanel" aria-labelledby="nav-sec-tab">
                        <div class="row">

                        </div>
                    </div>
                </div>

            </div>
            <div class="d-flex justify-content-center pt30">
                <button class=" button-basic" asp-action="Update" asp-controller="Account" type="submit">@Localizer["Company Setting Save"]</button>


            </div>

        </div>


    </div>
</form>
@if (false)
{
    <div class="container-xl container container-md container-sm container-lg">
        <div class="row align-items-center pb-3  ml-xl-0 ml-md-0 ml-sm-0 p-0 ml-0 mt-lg-5 mt-md-5 mt-2">
            <div class="col-7 col-xl-9 col-md-6 col-sm-6 align-content-center mr-md-auto pl-0">
                <p class="h2"
                   style="font-weight: 600; font-size: 34px">
                    @Localizer["MenuUpdateUser"]
                </p>
            </div>
        </div>

        <form asp-controller="Account" asp-action="Update" method="post" role="form" enctype="multipart/form-data">
            @Html.ValidationSummary(false, "", new { @class = "text-danger" })
            <ul class="nav nav-tabs justify-content-lg-center justify-content-md-center justify-content-between " id="tab-profile" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" style="width: 100%;" id="home-tab" data-toggle="tab" href="#profile-home"
                       role="tab"
                       aria-controls="home"
                       aria-selected="true">@Localizer["MainData"]</a>
                </li>
                <li class="nav-item mr-2 ml-2">
                    <a class="nav-link" style="width: 100%;" id="child-tab" data-toggle="tab" href="#profile-child"
                       role="tab"
                       aria-controls="childs"
                       aria-selected="false">@Localizer["Childs"]</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" style="width: 100%;" id="finance-tab" data-toggle="tab" href="#nav-content-fin"
                       role="tab"
                       aria-controls="finance"
                       aria-selected="false">@Localizer["Finance"]</a>
                </li>
            </ul>
            <div class="tab-content mt-lg-5 pt-lg-3 mt-md-5 pt-md-3 mt-3 pt-0" id="profile-tab">
                <input type="hidden" asp-for="Id" id="id-value-id-user" />
                <div class="tab-pane fade show active " id="profile-home" role="tabpanel" aria-labelledby="home-tab">
                    <div class="row p-0 flex-lg-row flex-md-row flex-column">
                        <div class="form-group d-flex flex-lg-row flex-md-row flex-column col-lg-6 col-md-6 col-12 input-row-black justify-content-end align-content-center">
                            <label asp-for="NameSurname" class="profile-form-title col-12 col-lg-3 col-md-3 p-0 d-flex align-items-center mb-0"></label>
                            <input asp-for="NameSurname" type="text" class="form-control col-12 col-lg-6 col-md-6 pl-3" id="input-name" placeholder="Ім'я" style="height: 34px">
                        </div>
                        <div class="form-group d-flex flex-lg-row flex-md-row flex-column col-lg-6 col-md-6 col-12 input-row-black justify-content-start align-content-center">
                            <label asp-for=Address1
                                   class="profile-form-title col-12 col-lg-3 col-md-3 p-0 d-flex align-items-center mb-0">
                            </label>
                            <input asp-for=Address1
                                   type="text" class="form-control col-12 col-lg-6 col-md-6 pl-3"
                                   id="input-first-address" placeholder="">
                        </div>
                    </div>
                    <div class="row p-0 flex-lg-row flex-md-row flex-column">
                        <div class="form-group d-flex flex-lg-row flex-md-row flex-column col-lg-6 col-md-6 col-12 input-row-black justify-content-end align-content-center">
                            <label asp-for=PhoneNumber
                                   class="profile-form-title col-12 col-lg-3 col-md-3 p-0 d-flex align-items-center mb-0"></label>
                            <input asp-for=PhoneNumber
                                   type="text" class="form-control col-12 col-lg-6 col-md-6 pl-3"
                                   id="input-phone-number" placeholder="(XXX) XXX - XXXX">
                        </div>
                        <div class="form-group d-flex flex-lg-row flex-md-row flex-column col-lg-6 col-md-6 col-12 input-row-black justify-content-start align-content-center">
                            <label asp-for=Address2
                                   class="profile-form-title col-12 col-lg-3 col-md-3 p-0 d-flex align-items-center mb-0">
                            </label>
                            <input asp-for=Address2
                                   type="text" class="form-control col-12 col-lg-6 col-md-6 pl-3"
                                   id="input-second-address" placeholder="">
                        </div>
                    </div>
                    <div class="row p-0 flex-lg-row flex-md-row flex-column">
                        <div class="form-group d-flex flex-lg-row flex-md-row flex-column col-lg-6 col-md-6 col-12 input-row-black justify-content-end align-content-center">
                            <label asp-for=City
                                   class="profile-form-title col-12 col-lg-3 col-md-3 p-0 d-flex align-items-center mb-0"></label>
                            <input asp-for=City
                                   type="text" class="form-control col-12 col-lg-6 col-md-6 pl-3" id="input-city"
                                   placeholder="" autocomplete="off">
                        </div>
                        <div class="form-group d-flex flex-lg-row flex-md-row flex-column col-lg-6 col-md-6 col-12 input-row-black justify-content-start align-content-center">
                            <label asp-for="ZipCode"
                                   class="profile-form-title col-12 col-lg-3 col-md-3 p-0 d-flex align-items-center mb-0"></label>
                            <input asp-for="ZipCode" type="text" class="form-control col-12 col-lg-6 col-md-6 pl-3" id="input-post-index" placeholder="" style="height: 34px">
                        </div>
                    </div>
                    <div class="row p-0 flex-lg-row flex-md-row flex-column">
                        <div class="form-group d-flex flex-lg-row flex-md-row flex-column col-lg-6 col-md-6 col-12 input-row-black justify-content-end align-content-center">
                            <label asp-for=Country
                                   class="profile-form-title col-12 col-lg-3 col-md-3 p-0 d-flex align-items-center mb-0">
                            </label>
                            <input asp-for=Country
                                   type="text" class="form-control col-12 col-lg-6 col-md-6 pl-3"
                                   id="input-country" placeholder="Країна">
                        </div>
                        <div class="form-group d-flex flex-lg-row flex-md-row flex-column col-lg-6 col-md-6 col-12 input-row-black justify-content-start align-content-center">
                            <label asp-for="CompanyName"
                                   class="profile-form-title col-12 col-lg-3 col-md-3 p-0 d-flex align-items-center mb-0">
                            </label>
                            <input asp-for="CompanyName"
                                   type="text" class="form-control col-12 col-lg-6 col-md-6 pl-3"
                                   id="input-companyname" placeholder="" style="height: 34px" autocomplete="off" disabled>
                        </div>
                    </div>
                    <div class="row p-0 flex-lg-row flex-md-row flex-column">
                        <div class="form-group d-flex flex-lg-row flex-md-row flex-column col-lg-6 col-md-6 col-12 input-row-black justify-content-end align-content-center">
                            <label asp-for=Email
                                   class="profile-form-title col-12 col-lg-3 col-md-3 p-0 d-flex align-items-center mb-0">
                            </label>
                            <input asp-for=Email
                                   type="text" class="form-control col-12 col-lg-6 col-md-6 pl-3"
                                   id="input-email" placeholder="" readonly>
                        </div>
                        <div class="form-group d-flex flex-lg-row flex-md-row flex-column col-lg-6 col-md-6 col-12 input-row-black justify-content-start align-content-center">
                            <div class="col-12 my-2 text-center">
                                <button type="button" name="btnLink" id="btnLink" button class="btn btn-primary m-2 col-sm-4 col-xl-4 col-12 text-center"
                                        style="background: #36C233; border: 1px solid #36C233; height:36px">
                                    @Localizer["PasswordChanging"]
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade"
                     id="profile-child" role="tabpanel"
                     aria-labelledby="child-tab">
                    @if (!Model.IsChild)
                    {<div id="child-container" class="d-flex justify-content-center flex-column align-items-center">
                            <div class="col-12 col-md-8 col-lg-9 p-0 d-flex align-items-center">
                                <div class="col-6 col-md-6 col-lg-6 p-0 d-flex flex-md-row flex-lg-row flex-column justify-content-between align-items-lg-center align-items-md-center">
                                    <label asp-for=ChildrenCount
                                           class="profile-form-title mb-1 justify-content-start mb-lg-0 mb-md-0">
                                    </label>
                                    <span id="child-amount">
                                        <input asp-for="ChildrenCount" class="form-control col-12 col-lg-6 col-md-6 pl-3" autocomplete="off" readonly />
                                        @*<span asp-validation-for="ChildrenCount" class="text-danger"></span>*@

                                    </span>
                                </div>
                                <div class="col-6 p-0 d-flex justify-content-end align-self-end align-self-sm-end align-self-md-center"
                                     style="height: 34px">
                                    <button type="button" id="addchild"
                                            class=" btn  btn-xl btn-outline-danger justify-content-center float-md-none font-weight-bold btn-block col-lg-5 col-md-5 col-7 m-0 p-0"
                                            onmousemove="this.style.background='#36C233'; this.style.color='#ffffff'"
                                            onmouseout="this.style.background='#ffffff'; this.style.color='#36C233'"
                                            style="background: #ffffff; border-color: #36C233; outline: none; height: 34px; color: #36C233; display: flex; align-items: center; justify-content: space-evenly; margin: 28px 0 23px; font-size: 14px;">
                                        &#65291; @Localizer["Add"]
                                    </button>
                                </div>
                            </div>
                        </div>}
                    else
                    {
                        <label class="profile-form-title mb-1 justify-content-start mb-lg-0 mb-md-0">
                            Наразі ви під обліковим записом дитини
                        </label>
                    }

                </div>
                <div class="tab-pane fade table-content" data-sortfield="@querymodel.SortField" data-sortorder="@querymodel.SortOrder" data-filter="@querymodel.SearchCriteria" id="nav-content-fin" role="tabpanel" aria-labelledby="nav-tab-fin">


                </div>
                <div class="container">
                    <div class="row ">
                        <div class="d-flex justify-content-center pt30">
                            <button class=" button-basic" asp-action="Update" asp-controller="Account" type="submit">@Localizer["Company Setting Save"]</button>
                        </div>

                    </div>

                </div>
            </div>
        </form>
    </div>


    <div class="modal fade" id="ModalPopUp" role="dialog">
        <div class="modal-dialog err-pop" style="">
            <div class="modal-content">

            </div>
        </div>
    </div>


    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

        <script>
       $(function () {
                var userId = document.getElementById("id-value-id-user").value;
                $(document).on("click", "#btnLink", function () {
                    $('#ModalPopUp').modal('show');
                    $(".modal-content").html(gethtmlloading());
                    var urlfin = '@Url.Content("~/Account/ChangePasswordModal?userId=")' + userId;
                    $.get(urlfin, function (data) {
                    $(".modal-content").html(data);
                    });
                    });
                    $(document).on('click', '[data-save="modal"]', function (event) {
                    event.preventDefault();

                    var form = $(this).parent().parents().find('.modal-body').find('form');
                    var actionUrl = form.attr('action');
                    var dataToSend = form.serialize();

                    $.post(actionUrl, dataToSend).done(function (data, statusText, xhr) {
                    var isValid = false;

                    if (data && data.res && data.res == "OK")
                    isValid = true;

                    if (isValid) {
                    $('#modDialog').modal('hide');
                    $('#dialogContent').empty();

                    window.location.href = data.returnUrl;
                    }
                    else {
                    var newBody = $('.modal-body', data);
                    $(document).find('.modal-body').replaceWith(newBody);
                    }
                    }).fail(function (xhr, status, error) {
                    var message = error + '\r\n';
                    if (xhr)
                    message += xhr.responseText;
                    dialog_error(message);
                    // $('html').html(xhr.responseText);
                    });
                    });

                    $("#nav-content-fin").html(gethtmlloading());

                    $.get('/Account/UserFinance', function (data) {

                    $("#nav-content-fin").html(data);
                    var enable_liqpay = false;
                    @if (setting.EnableLiqPay)
                    {
                        @Html.Raw("enable_liqpay = true;")
                    }
                    $("#nav-content-fin").find('#addliqpay-btn').click(function(e) {
                    e.preventDefault();
                    if (enable_liqpay == true)
                    window.location.replace(`@Url.Action("Index", "Payment") ? amount =${$("#nav-content-fin").find('#liqpay-amount').val()}`);
                    });

                    });

                    $.get('/Account/UserChilds?view=UserChildsData', function (data) {
                    var childcontainer = $('#child-container')
                    childcontainer.find('.child-data').remove();
                    childcontainer.append(data);
                    // $("#nextchilds").html(data);

                    });
                    $("#addchild").click(function (e) {
                    e.preventDefault();
                    var token = $("[name='__RequestVerificationToken'").val();
                    $.post('/Account/AddNewChild', { __RequestVerificationToken: token }).done(function (data, statusText, xhr) {
                    //alert(data);
                    var childcontainer = $('#child-container');
                    childcontainer.find('.child-data').remove();
                    childcontainer.append(data);
                    })
                    .fail(function (xhr, code, error) {
                    dialog_error(error);
                    });
                    });

                    function isFileImage(file) {
                    const acceptedImageTypes = ['image/jpeg', 'image/png'];

                    return file && acceptedImageTypes.includes(file['type'])
                    }
                    function readURL(input) {
                    if (input.files && input.files[0]) {
                    var target_img = $($(input).attr('data-target'));
                    if (!isFileImage(input.files[0])) {
                    $(input).val('');
                    return;
                    }
                    var reader = new FileReader();

                    reader.onload = function (e) {
                    $(target_img).attr('src', e.target.result);
                    }

                    reader.readAsDataURL(input.files[0]);
                    }
                    }
                    $(document).on("change", ".custom-file-input", function () {
                    readURL(this);
                    });

            setup_listitems({ href:'@Url.Content("~/Account")',method:"UserFinance" });
       });

        </script>
    }

}





