@model IEnumerable<CompanyUser>
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Identity.EntityFrameworkCore
@inject CateringPro.Core.SharedViewLocalizer Localizer
@inject SignInManager<CompanyUser> SignInManager

@{

    string userId = (await SignInManager.UserManager.GetUserAsync(User)).Id;
    int i = 2;
}
@foreach (var it in Model)
{
<div class="container border rounded">
    <div class="row">
        <div class="col-12  bg-info text-white">
            @i  @Localizer["Child"]
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <dl>
                <dd><input type="hidden" asp-for="@it.Id" /></dd>
                <dt>  <label class="control-label">@Localizer["ChildNameSurname"]</label></dt>
                <dd>
                    <input asp-for="@it.ChildNameSurname" class="form-control" autocomplete="off" />
                    <span asp-validation-for="@it.ChildNameSurname" class="text-danger"></span>
                </dd>
                <dt>  <label  class="control-label">@Localizer["ChildBirthdayDate"]</label></dt>
                <dd>
                    <input asp-for="@it.ChildBirthdayDate" class="form-control" autocomplete="off" />
                    <span asp-validation-for="@it.ChildBirthdayDate" class="text-danger"></span>
                </dd>
                <dd>
                    <input type="hidden" asp-for="@it.PictureId" />
                    <input type="file" class="form-control" id="filepicture" name="filepicture" />
                    <img width="450" id="imgfilepicture" height="300" class="form-control" style="width:450px;height:300px;" src="@Url.Action("GetPicture","Pictures",new { id=@it.PictureId,width=450,height=300})" />
                </dd>
            </dl>
        </div>
    </div>
</div>
    {
        i++;
    }
}